<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>개발자 라운지&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>

<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ /include/header }"></div>
	<div class="banner-zone">
	<!-- 첫번째 영역 : 나중에 보자-->
	<div class="banner-content">
		<div class="content-banner-title">
		<h3>누구나 🙌 자유롭게 채팅방에 참여해 보세요</h3>
		<p>진로 상담 문제 질문</p>
		<p>등 다양한 주제로 대화에 참여해 보세요</p>
		</div>
		<div class="content-banner-img" style="padding-top: 40px;">
		<img src="/img/message.png" alt="" style="position: relative; top: 30px; width: 150px;">
		<img src="/img/aset02.png" alt="" style="position: relative; width: 80px; right: 30px; bottom: 55px;">
		</div>
	</div>
	</div>
	<div class="container">
	<div class="main-content mt50">
		<div class="chat-title-nav">
		<div class="chat-title clearfix">
			<h4>채팅 검색</h4>
			<div class="search-inp">
			<input type="text" name="" id="search-room" placeholder="채팅방 제목을 검색해 주세요" onkeyup="filterChatRooms()">
			</div>
			<!-- 
			<hr class="dashed mt20 mb20">
			
				<div class="chat-tag-wrap">
			<h4>태그별 모아보기</h4>
			<div class="chat-tag-title">
				<button>자유주제</button>
				<button>커리어고민</button>
				<button>질문하기</button>
				<button>문제질문</button>
			</div>
			<hr class="dashed mt20 mb20">
			<div class="chat-tag-item">
				<button>자유주제</button>
				<button>커리어고민</button>
				<button>질문하기</button>
				<button>문제질문</button>
			</div>
			<p></p>
			</div>
			<div class="filter-group">
			<button class="filter">필터 초기화</button>
			<button class="filter">필터 검색</button>
			</div>
			-->
		</div>
		</div>
		
		<!-- 채팅방 영역 -->
		<div class="content-chat-wrap">
		<details open>
			<summary><i class="xi-forum-o"></i>컨텐츠 영역</summary>
			<div class="chat-list">
			<div class="chat-list-head">
				<button onclick="createRoomPopup()">채팅방 개설</button>
			</div>
			<!-- 채팅방 목록 -->
			<div th:each="chatRoom : ${chatRooms}" class="chat-list-item" id="chatRoom-list-item" th:data-idx="${chatRoom.idx}" th:data-type="${chatRoom.type}" th:data-user-in-room="${currentUserInRoom}">
				<!-- managerEmail 리스트 순회 -->
				<p th:each="manager : ${chatRoom.managerEmail}">
					<img th:src="@{'/member/img/' + ${manager.email.email}}" alt="이미지 등록 안했을 경우에 방장 이미지로" >
				</p>
				<ol>
					<li class="room">
				 			<b><a href=javascript:void(0);>[[${chatRoom.title}]]</a></b>
						<p>참여자 수</p>
						<p id="entry" th:if="${chatRoom.limit == 0}">[[${memberCounts[chatRoom.idx]}]]</p>
						<p id="entry" th:unless="${chatRoom.limit == 0}">[[${memberCounts[chatRoom.idx]}]] / [[${chatRoom.limit}]]</p>
					</li>
				</ol>
				
			</div>
			<!-- 채팅방 목록 E -->
			
			</div>
		</details>
		</div>
	</div>
	</div>
	<!-- 아코디언 영역 커스텀 -- 나중에 -->
	<!-- https://apost.dev/1026/ -->
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details -->
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ /include/footer }"></div>
	<!-- Custom Script -->
	<script type="text/javascript">
		//채팅방 개설 팝업창
		function createRoomPopup () {
			if ('[[ ${ session.email } ]]' == '') {
				Swal.fire({
					icon: 'warning',
					text: '로그인 해야 사용할 수 있습니다.',
					confirmButtonText: '확인'
				})
				.then(() => {
					location.href = '/member/login';
				});
				
				return false;
			}

			//이메일 미인증 시 인증 유도
			if ('[[ ${ session.emailAuth } ]]' != 'Y') {
				Swal.fire({
					icon: 'error',
					html: '이메일 인증이 필요합니다.<br>MyPage로 이동하시겠습니까?',
					showCancelButton: true,
					confirmButtonText: '네, 이동합니다.',
					cancelButtonText: '아니오.'
				})
				.then((result) => {
					if (result.isConfirmed)
						location.href = '/member/mypage/main';
				});
				
				return false;
			}
			
			const options = 'width=700, height=600, top=50, left=5'
			window.open('/chat/create','_blank',options)
		}
		
		/*
		//유저 정보 팝업창
		function userInfoPopup(email) {
			const options = 'width=700, height=600, top=50, left=5';
			window.open('/chat/userinfo?email=' + email, '_blank', options);
		}
		*/
		
		//채팅 검색
		function filterChatRooms() {
			var input, filter, chatList, chatItems, title, i, txtValue;
			input = document.getElementById('search-room');
			filter = input.value.toUpperCase();
			chatList = document.getElementsByClassName('chat-list')[0];
			chatItems = chatList.getElementsByClassName('chat-list-item');

			for (i = 0; i < chatItems.length; i++) {
				title = chatItems[i].getElementsByTagName('b')[0];
				if (title) {
					txtValue = title.textContent || title.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						chatItems[i].style.display = "";
					} else {
						chatItems[i].style.display = "none";
					}
				}
			}
		}
		
		/* 	
		// 유저 검색 버튼 누르면 검색칸 보이기/숨기기
		document.getElementById('search-btn').addEventListener('click', function() {
			var searchUser = document.getElementById('search-user');
			if (searchUser.style.display === 'none') {
				searchUser.style.display = 'inline';
			} else {
				searchUser.style.display = 'none';
			}
		});
	
		// 유저 검색
	 	function filterUsers() {
			var input, filter, userList, userItems, username, i, txtValue;
			input = document.getElementById('search-user');
			filter = input.value.toUpperCase();
			userList = document.getElementById('user-list');
			userItems = userList.getElementsByClassName('chat-list-item');
	
			for (i = 0; i < userItems.length; i++) {
				username = userItems[i].getElementsByTagName('b')[0];
				if (username) {
					txtValue = username.textContent || username.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						userItems[i].style.display = "";
					} else {
						userItems[i].style.display = "none";
					}
				}
			}
		}	
		
		// 레벨 데이터 가공
		document.addEventListener('DOMContentLoaded', function() {
			var levelElements = document.querySelectorAll('.user p span');
			levelElements.forEach(function(element) {
				var level = element.textContent;
				element.textContent = parseInt(level, 10);
			});
		});
		*/
		
		// 채팅방 선택
		// 채팅방을 선택하면 해당 채팅방으로 이동
		document.querySelectorAll('#chatRoom-list-item').forEach(item => {
			item.addEventListener('click', event => {
				if ('[[ ${ session.email } ]]' == '') {
					Swal.fire({
						icon: 'warning',
						text: '로그인 해야 사용할 수 있습니다.',
						confirmButtonText: '확인'
					})
					.then(() => {
						location.href = '/member/login';
					});
					
					return false;
				}

				//이메일 미인증 시 인증 유도
				if ('[[ ${ session.emailAuth } ]]' != 'Y') {
					Swal.fire({
						icon: 'error',
						html: '이메일 인증이 필요합니다.<br>MyPage로 이동하시겠습니까?',
						showCancelButton: true,
						confirmButtonText: '네, 이동합니다.',
						cancelButtonText: '아니오.'
					})
					.then((result) => {
						if (result.isConfirmed)
							location.href = '/member/mypage/main';
					});
					
					return false;
				}
				
				const chatIdx = item.getAttribute('data-idx');
				const chatType = item.getAttribute('data-type');
				const entryElement = item.querySelector('#entry');
				const entryText = entryElement.textContent.trim();
				const [memberCount, limit] = entryText.split('/').map(Number);
	
				//bb
				// 로그인 중인 유저가 해당 채팅방의 멤버인지 확인
				fetch(`/chat/checkMember?chatIdx=${chatIdx}`)
					.then(response => response.json())
					.then(isMember => {
						if (!isMember && memberCount >= limit && limit != 0) {
							Swal.fire({
								icon: 'warning',
								title: '인원수가 가득찼습니다.',
								text: '다른 채팅방을 선택해 주세요.',
								confirmButtonText: '확인'
							});
							return;
						}
						
						if (chatType === 'PVT' && !isMember) {
							// 비밀번호 입력을 받는 SweetAlert로 변경
							Swal.fire({
								title: '비밀번호를 입력하세요:',
								input: 'text',
								inputAttributes: {
									autocapitalize: 'off'
								},
								showCancelButton: true,
								confirmButtonText: '확인',
								cancelButtonText: '취소',
								inputValidator: (value) => {
									if (!value) {
										return '비밀번호를 입력해주세요!';
									}
									// 비밀번호 확인 후 채팅방 진입
									checkPasswordAndEnter(chatIdx, value);
								}
							});
						} else {
							// 채팅방으로 이동
							//window.location.href = `/chat/chatview?idx=${chatIdx}`;
							window.open(`/chat/chatview?idx=${chatIdx}`);
						}
					})
					.catch(error => console.error('Error:', error));
			});
		});
		
		// 비밀번호 체크
		function checkPasswordAndEnter(chatIdx, password) {
			fetch('/chat/checkPassword', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams({
					'chatIdx': chatIdx,
					'password': password
				})
			})
			.then(response => response.json())
			.then(data => {
				if (data.valid) {
					//window.location.href = `/chat/chatview?idx=${chatIdx}`;
					window.open(`/chat/chatview?idx=${chatIdx}`);
				} else {
					Swal.fire({
						icon: 'error',
						title: '비밀번호 오류',
						text: '비밀번호가 틀렸습니다.',
						confirmButtonText: '확인',
						timer: 3000,
						timerProgressBar: true
					});
				}
			})
			.catch(error => console.error('Error:', error));
		}
	
		/*
		// 유저 프로필 선택
		document.querySelectorAll('.user-profile').forEach(item => {
			item.addEventListener('click', event => {
				const email = item.getAttribute('data-email');
				userInfoPopup(email);
			});
		});
	
		// 유저 선택하면 1:1 채팅
		document.querySelectorAll('.user-profile').forEach(item => {
			item.addEventListener('click', event => {
				const memberEmail = item.getAttribute('data-email');
				checkOrCreatePrivateRoom(memberEmail);
			});
		});
		
		// 유저 선택 user-profile를 제외한 유저정보 모든곳
		// 해당유저와 1:1 대화를 했는지 체크
		// 1:1대화를 안했다면 해당 유저와 1:1대화할 것인지 물어보고 1:1대화방 생성
		// 1:1대화를 했다면 바로 채팅방으로 이동
	
		// 1:1 대화방 생성
		function checkOrCreatePrivateRoom(memberEmail) {
			fetch('/chat/checkOrCreatePrivateRoom', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams({
					'memberEmail': memberEmail
				})
			})
			.then(response => response.json())
			.then(data => {
				if (data.exists) {
					window.location.href = `/chat/chatview?idx=${data.chatIdx}`;
				} else {
					if (confirm("1:1 대화를 하시겠습니까?")) {
						window.location.href = `/chat/chatview?idx=${data.chatIdx}`;
					}
				}
			})
			.catch(error => console.error('Error:', error));
		}
	
		// 유저 이름 선택
		document.querySelectorAll('.user').forEach(item => {
			item.addEventListener('click', event => {
				const email = item.querySelector('p').textContent;
				userInfoPopup(email);
			});
		});
		
		// 유저 채팅방 생성
		document.querySelectorAll('#user-list-item').forEach(item => {
			item.addEventListener('click', event => {
				const email = item.querySelector('p').textContent;
				createRoomPopup();
			});
		});
		*/
	</script>
</body>
</html>