<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>채팅방 개설&nbsp;&#124;&nbsp;코딩해조</title>
	<link rel="icon" href="/img/logo/favicon.png">
		<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<script src="/js/pub-ui-custom.js"></script>
</head>
<style>
	.chat-create {max-width: 700px; margin: 0 auto; padding: 40px;}
	.chat-create input[type=text] {width: 100%; margin-bottom: 10px;}
	.chat-create span { display: block;}
</style>
<body>
	<div class="chat-create">
		<form>
			<input type="radio" name="type" value="PUB" id="PUB" onclick="togglePassword(false)"><label for="PUB">공개</label>
			<input type="radio" name="type" value="PVT" id="PVT" onclick="togglePassword(true)"><label for="PVT">비공개</label>
			<span class="mt20" style="display: block;">채팅방 비밀번호</span>
			<input type="password" name="password" id="password" placeholder="비밀번호" disabled>
			<input type="password" name="passwordCheck" id="passwordCheck" placeholder="비밀번호 확인" disabled>
			<span>채팅방 제목</span>
			<input type="text" name="title" id="title" placeholder="채팅방 제목">
			<span>채팅방 소개</span>
			<input type="text" name="descr" id="descr" placeholder="채팅방 소개">
			<span>채팅방 정원</span>
			<input type="text" name="limit" id="limit" placeholder="0 입력시 인원수 제한이 사라집니다.">
		</form>
		<input type="button" id="btn_room" class="btn_home" value="대화방 만들기" style="width:140px;" onclick="createRoom()"><br>
	</div>

	<!-- SweetAlert2-link -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- Custom Script -->
	<script type="text/javascript">
		// raido 버튼 공개를 누르면 비밀번호칸 비활성화 비공개로 누르면 비밀번호칸 활성화
		function togglePassword(enable) {
			const passwordField = document.getElementById('password');
			const passwordCheckField = document.getElementById('passwordCheck');
			
			passwordField.disabled = !enable;
			passwordCheckField.disabled = !enable;
			//radio 버튼을 비공개 공개로 바꿀시 비밀번호 칸 초기화
			if (!enable) {
				passwordField.value = '';
			}
		}
	
		//var websocket = new WebSocket('ws://www.kodinghaejo.com:8081/ws/chat')
		var roomId = '';
		
		/*
			0: 대화방 미생성
			1: 대화방 생성
			2. 대화방 종료 대기
			3. 대화방 종료
		*/
		var roomStatus = '0';
		
		document.querySelector('#limit').addEventListener('input', (event) => {
			const changeVal = event.target.value.replace(/[^0-9]/g, ""); //숫자 제외한 문자 제거
			
			event.target.value = changeVal;
		});
	
		//대화방 만들기
		const createRoom = async () => {		
			const title = document.querySelector('#title');
			const password = document.querySelector('#password');
			const passwordCheck = document.querySelector('#passwordCheck');
			const type = document.querySelector('input[name="type"]:checked');
			const descr = document.querySelector('#descr');
			const limit = document.querySelector('#limit');
		
			if (title.value == '') {
				Swal.fire({
					icon: 'warning',
					text: '생성할 채팅방 이름을 입력하세요.',
					confirmButtonText: '확인'
				})
				.then(() => {
					title.focus();
				});
				return;
			}
			
			if (type.value == 'PVT') {
				if (password.value == '') {
					Swal.fire({
						icon: 'warning',
						text: '비밀번호를 입력해주세요.',
						confirmButtonText: '확인'
					})
					.then(() => {
						password.focus();
					});
					return;
				} 
				
				if (passwordCheck.value == '') {
					Swal.fire({
						icon: 'warning',
						text: '비밀번호를 확인해주세요.',
						confirmButtonText: '확인'
					})
					.then(() => {
						passwordCheck.focus();
					});
					return;
				}
				
				if (password.value != passwordCheck.value) {
					Swal.fire({
						icon: 'warning',
						text: '비밀번호가 일치하지 않습니다.',
						confirmButtonText: '확인'
					})
					.then(() => {
						passwordCheck.focus();
					});
					return;
				}
			}
			
			if (limit.value == '') {
				Swal.fire({
					icon: 'warning',
					text: '인원 수를 입력하세요.',
					confirmButtonText: '확인'
				});
				return;
			}
			
			// limit의 값이 숫자인지 확인
			if (isNaN(limit.value)) {
				alert("정원은 숫자로 작성해주세요");
				return;
			}
			
			let formData = new FormData();
			formData.append("title", title.value);
			formData.append("password", password.value);
			formData.append("type", type.value);
			formData.append("descr", descr.value);
			formData.append("limit", limit.value);
			
			await fetch('/chat/create', {
				method: 'POST',
				body: formData
			})
			.then((response)=> response.json())
			.then((data)=> {
				if (data.message === 'good') {
					Swal.fire({
						icon: 'success',
						title: '채팅방 생성 완료',
						text: '채팅방이 성공적으로 생성되었습니다!',
						confirmButtonText: '확인',
						timer: 2000,
						timerProgressBar: true
					})
					.then(() => {
						if (window.opener && !window.opener.closed) {
							window.opener.location.reload();
						}
						window.close();
						window.open('/chat/chatview?idx=' + data.chatidx);
					});
				} else {
					Swal.fire({
						icon: 'error',
						title: '실패',
						text: '대화방 등록에 실패했습니다.',
						confirmButtonText: '확인'
					});
				}
			})
			.catch((error) => {
				Swal.fire({
					icon: 'error',
					title: '시스템 장애',
					text: '시스템 장애로 대화방 등록이 실패했습니다.',
					confirmButtonText: '확인'
				});
				console.error(error);
			});
		};
	</script>
</body>
</html>