<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>공지사항 수정&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
	<!-- common-js link -->
	<script src="/js/common.js"></script>
</head>
<body>
	<!-- header 영역 -->
<div id="header" th:replace="~{ include/header }"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-board-notice-write">
				<div class="content-board-notice-write-wrap">
				
				<form class="WriteForm" id="WriteForm" name="WriteForm" method="post" enctype="multipart/form-data">		 
					<h2>공지사항 수정</h2>
					<div class="mt30"></div>
					<div class="category-title">
						<label for="title">제목<span class="asterisk"></span></label>
						<input type="text" id="title" name="title" maxlength="100" th:value="${board.title}">

						<input type="hidden" id="email" name="email" value="admin@kodinghaejo.com">
						<input type="hidden" id="writer" name="writer" value="관리자">
						<input type="hidden" id="isUse" name="isUse" value="Y">
					</div>
					<div class="category-content ">
						<label for="content">내용<span class="asterisk"></span></label>
						<div id="content"></div>
					</div>
				</form> 
					<div class="category-footer mt30">
						<input type="button" id="modifyButton" value="수정" onclick="registerForm()" data-id="${board.idx}">
						<button onclick="history.back();">뒤로가기</button>
					</div>
				</div>	 
			</div>
		</div>
	</div>
 <!-- footer영역 -->
<div id="footer" th:replace="~{ include/footer }"></div>
	<!-- toast API : 나중에 모듈로 작성해서 만들기-->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- Custom Script -->
	<script type="text/javascript" th:inline="javascript">
		const editorContent = /*[[ ${ board.content } ]]*/'공지 내용';
		
		const editor = new toastui.Editor({
			el: document.querySelector('#content'), 
			height: '400px',
			initialEditType: 'markdown',
			initialValue: unescapeHtml(editorContent),
			toolbarItems: [
				['heading', 'bold', 'italic', 'strike'],
				['hr', 'quote'],
				['ul', 'ol', 'task'],
				['table', 'link'],
				['code', 'codeblock']
			]
		});
		
		const registerForm = async() => {
			let title = document.querySelector('#title');
			let writer = document.querySelector('#writer');
			let email = document.querySelector('#email');
			let isUse = document.querySelector('#isUse');
				
			let content = editor.getMarkdown();
			
			if(title.value === ''){
				Swal.fire({
					icon:"warning",
					text:"제목을 입력하세요",
					confirmButtonText: "확인"
				});
				title.focus();
				return false;
			}
				
			if (content.trim() === '') {
				Swal.fire({
					icon:"warning",
					text:"내용을 입력하세요",
					confirmButtonText: "확인"
				});
				return false;
			} 
				
			let formData = new FormData(document.getElementById('WriteForm'));
			formData.append("cat", 'CAT-0001');
			formData.append("content", content);
				
			const idx = parseInt('[[ ${board.idx} ]]');
			formData.append("idx", idx);
		 
			await fetch('/admin/noticeboardModify', {
				method: 'POST',
				body: formData
			})
			.then((response)=> response.json())
			.then((data)=> {
				if(data.message === 'good'){
					Swal.fire({
						text: "공지사항이 수정되었습니다.",
						icon: "success",
						confirmButtonText: "확인" 
					}).then((result) => {
						document.location.href='/admin/systemNotice';
					});
				}
			})
			.catch((error)=> {
				Swal.fire({
					icon: "error",
					text: "시스템 장애로 게시물 등록이 실패했습니다",
				});
				console.log("error" + error);
			})
		}
	</script>
</body>
</html>
