<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원정보 관리</title>
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script src="/js/pub-ui-custom.js"></script>

<script>
const deleteQBoard = (idx) => {
    if (confirm("해당 게시글을 삭제하시겠습니까?")) {
        fetch(`/admin/systemQBoardDelete/${idx}`, {
            method: 'DELETE'
        })
        .then(response => {
            console.log("Response status:", response.status);
            return response.text().then(message => ({ status: response.status, message }));
        })
        .then(({ status, message }) => {
            if (status === 200) {
                alert(message); // 서버에서 전달한 성공 메시지
                location.reload(); // 페이지 새로고침하여 목록 갱신
            } else {
                alert(`삭제 실패: ${message}`);
            }
        })
        .catch(error => {
            console.error('삭제 중 오류 발생:', error);
            alert("삭제 요청 중 오류가 발생했습니다.");
        });
    }
}
</script>

</head>
<body>
	<div id="header" th:replace="include/header"></div>
	<div class="container column mt50">
		<div class="column-row">
			<div class="c-column-2">
				<div id="system_menu" th:replace="include/system"></div>
			</div>
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2>질문게시판 관리</h2>
					<div class="search-bar mb20">
						<form method="get" action="/admin/systemQBoard">
					        <input type="text" name="searchKeyword" placeholder="검색어 입력" th:value="${searchKeyword}" />
					        <button type="submit" class="btn_search">검색</button>
					    </form>
					</div>
					<div class="sys-description-box mb20">
						<h3>질문글 수 : <span th:text="${questionCount}"></span></h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>번호</th>
								<th>문제번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="question : ${questions}">
								<td th:text="${question.idx}">1</td>
								<td th:text="${question.testIdx}">1</td>
								<td th:text="${question.title}">이 문제 버그났어요.</td>
								<td th:text="${question.writer}">한건희</td>
								<td th:text="${question.regdate}">2024-11-04</td>
								<td><a href="" class="btn_delete" th:onclick="'deleteQBoard(' + ${question.idx} + ')'">삭제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</body>
<footer>
	<div id="footer" th:replace="include/footer"></div>
</footer>
</html>