<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>배너 등록&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="include/header"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-board-code-write">
				<div class="content-board-code-write-wrap">
				<form class="WriteForm" id="WriteForm" name="WriteForm" method="post" enctype="multipart/form-data">		 
					<div class="mt30"></div>
					<h2>배너 등록</h2>
					<div class="mt30"></div>
					<div class="category-name mb20">
						<label for="name">배너명<span class="asterisk" ></span></label>
						<input type="text" id="name" name="name" placeholder="배너명을 입력하세요." maxlength="100">
					</div>
					<div class="category-url mb20">
						<label for="url">경로<span class="asterisk" ></span></label>
						<input type="text" id="url" name="url" placeholder="배너 클릭시 이동 경로를 입력하세요." maxlength="500">
					</div>
					<div class="categoty-img mb20">
						<label for="img">배너 이미지<span class="asterisk" ></span></label>
						<input type="file" id="img" name="img" accept="image/*">
						
						<input type="hidden" id="email" name="email" value="admin@kodinghaejo.com">
						<input type="hidden" id="writer" name="writer" value="관리자">
						<input type="hidden" id="isUse" name="isUse" value="Y">
					</div>
					<div class="category-dates mb20">
						<label for="startDate">시작 날짜</label>
						<input type="datetime-local" id="startDate" name="startDate">
						<label for="endDate">종료 날짜</label>
						<input type="datetime-local" id="endDate" name="endDate">
					</div>
					<div class="category-desc">
						<label for="desc">배너 설명</label>
						<div id="content"></div>
					</div>
					</form> 
					<div class="category-footer mt30">
						<input type="button" value="등록" onclick="registerForm()">
						<button onclick="history.back();">뒤로가기</button>
					</div>
				</div>	 
			</div>
		</div>
	</div>
 <!-- footer영역 -->
	<div id="footer" th:replace="include/footer"></div>
	<!-- toast API : 나중에 모듈로 작성해서 만들기-->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<!-- Custom Script -->
	<script type="text/javascript">
		const editor = new toastui.Editor({
			el: document.querySelector('#content'),
			height: '400px',
			initialEditType: 'markdown',
			initialValue: '',
			initialEditType: 'wysiwyg',
			placeholder: '간단한 배너 설명을 작성해주세요.',
			toolbarItems: [
				['heading', 'bold', 'italic', 'strike'],
				['hr', 'quote'],
				['ul', 'ol', 'task'],
				['table', 'link'],
				['code', 'codeblock']
			]
		});

		const registerForm = async () => {
			let name = document.querySelector('#name');
			let url = document.querySelector('#url');
			let img = document.querySelector('#img');
			
			if (name.value === '') {
				Swal.fire({
					icon: 'warning',
					text: '배너명을 입력하세요!!!',
					confirmButtonText: '확인'
				});
				name.focus();
				return false;
			}
			if (url.value === '') {
				Swal.fire({
					icon: 'warning',
					text: '이동 경로를 입력하세요!!!',
					confirmButtonText: '확인'
				});
				url.focus();
				return false;
			}
			if (img.files.length === 0) {
				Swal.fire({
					icon: 'warning',
					text: '이미지를 첨부하세요!!!',
					confirmButtonText: '확인'
				});
				return false;
			}

			const file = img.files[0];
			const reader = new FileReader();

			reader.onload = (e) => {
				const imgElement = new Image();
				imgElement.src = e.target.result;

				imgElement.onload = () => {
					const width = imgElement.width;
					const height = imgElement.height;

					if (width !== 200 || height !== 600) {
						Swal.fire({
							icon: 'warning',
							text: '이미지 크기는 200px X 600px이어야 합니다!!!',
							confirmButtonText: '확인'
						});
						img.value = '';
						return false;
					} else {
						let formData = new FormData(document.getElementById('WriteForm'));

						let desc = editor.getMarkdown();
						formData.append("desc", desc);

						fetch('/admin/systemBannerWrite', {
							method: 'POST',
							body: formData
						}).then((response) => response.json())
						.then((data) => {
							if (data.message === 'good') {
								Swal.fire({
									icon: 'success',
									text: '배너가 등록되었습니다.',
									confirmButtonText: '확인'
								}).then(() => {
									document.location.href = '/admin/systemBanner';
								});
							}
						}).catch((error) => {
							Swal.fire({
								icon: 'error',
								text: '시스템 장애로 배너 등록에 실패했습니다.',
								confirmButtonText: '확인'
							});
							console.log("error", error);
						});
					}
				}
			}
			reader.readAsDataURL(file);
		}
	</script>
</body>
</html>