<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>질문게시판 관리&nbsp;&#124;&nbsp;코딩해조</title>
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script src="/js/pub-ui-custom.js"></script>
</head>
<body>
	<div id="header" th:replace="~{ include/header }"></div>
	<div class="container column mt50">
		<div class="column-row">
			<div class="c-column-2">
				<div id="system_menu" th:replace="~{ include/system }"></div>
			</div>
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2>질문게시판 관리</h2>
					<div class="search-bar mb20">
						<form method="get" action="/admin/systemQBoard">
							<input type="text" name="searchKeyword" placeholder="검색어 입력" th:value="${searchKeyword}" />
							<button type="submit" class="btn_search">검색</button>
						</form>
					</div>
					<div class="sys-description-box mb20">
						<h3>질문글 수 : <span th:text="${totalCount}"></span></h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>번호</th>
								<th>문제번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>삭제</th>
								<th>활성여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="question : ${questions}">
								<td th:text="${question.idx}">1</td>
								<td th:text="${question.tlIdx.testIdx.idx}">1</td>
								<td><a th:href="@{ '/test/questionBoardView?idx=' + ${ question.idx } }" th:text="${question.title}" target="_blank">이 문제 버그났어요.</a></td>
								<td th:text="${question.writer}">한건희</td>
								<td th:text="${#temporals.format(question.regdate, 'yyyy-MM-dd HH:mm:ss')}">2024-11-04</td>
								<td><a th:href="|javascript:deleteQBoard(${question.idx})|" class="btn_delete" >삭제</a></td>
								<td th:text="${question.isUse}"></td>
							</tr>
						</tbody>
					</table>
					<div class="pagination">
						[(${pageList})]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" th:replace="~{ include/footer }"></div>
	<!-- Custom Script -->
	<script type="text/javascript">
		const deleteQBoard = (idx) => {
			Swal.fire({
				text: "질문을 삭제하시겠습니까?",
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "삭제",
				cancelButtonText: "취소",
				reverseButtons: true
			})
			.then((result) => {
				if (result.isConfirmed) {
					fetch(`/admin/systemQBoardDelete/${idx}`, {
						method: 'DELETE'
					})
					.then(response => {
						console.log("Response status:", response.status);
						return response.text().then(message => ({ status: response.status, message }));
					})
					.then(({ status, message }) => {
						if (status === 200) {
							Swal.fire({
								text: message,
								icon: "success",
								confirmButtonText: "확인" 
							}).then((result) => {
								location.reload();
							});
						} else {
							Swal.fire({
								text: "error",
								text: message,
								confirmButtonText: "확인" 
							});
						}
					})
					.catch(error => {
						Swal.fire({
							icon: "error",
							text: "시스템 장애로 댓글 삭제에 실패했습니다",
							confirmButtonText: "확인" 
						});
						console.error('삭제 중 오류 발생:', error);
					});
				}
			});
		};
	</script>
</body>
</html>