<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>회원정보 관리</title>
<link rel="icon" href="/img/logo/favicon.png" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
<script src="/js/pub-ui-custom.js"></script>
<script>
const deleteFreeBoard = (idx) => {
	Swal.fire({
        title: "게시글을 삭제하시겠습니까?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "삭제",
        cancelButtonText: "취소",
        reverseButtons: true
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`/admin/systemBoardDelete/${idx}`, {
                method: 'DELETE'
            })
            .then(response => {
                console.log("Response status:", response.status);
                return response.text().then(message => ({ status: response.status, message }));
            })
            .then(({ status, message }) => {
                if (status === 200) {
                    Swal.fire({
                        title: message,
                        icon: "success",
                        confirmButtonText: "확인" 
                    }).then((result) => {
                        if(result.isConfirmed) {
                            location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        text: message,
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: "error",
                    text: "시스템 장애로 게시물 등록이 실패했습니다",
                });
                console.error('삭제 중 오류 발생:', error);
            });
        }
    });
};
</script>
</head>
<body>
	<div id="header" th:replace="~{ /include/header }"></div>
	<div class="container column mt50">
		<div class="column-row">
			<!-- 메뉴 컬럼 -->
			<div class="c-column-2">
				<div id="system_menu" th:replace="~{ /include/system }"></div>
			</div>
			<!-- content -->
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2>자유게시판 관리</h2>
					<div class="search-bar mb20">
						<form method="get" action="/admin/systemFreeBoard">
					        <input type="text" name="searchKeyword" placeholder="검색어 입력" th:value="${searchKeyword}" />
					        <button type="submit" class="btn_search">검색</button>
					    </form>
					</div>
					<div class="sys-description-box mb20">
						<h3 class="mt20">게시글 수 : <span th:text="${totalCount}"></span></h3>
					</div>
					<table>
						<caption style="display: none;">관리자 게시판 입니다</caption>
						<colgroup>
							<col width="">
							<col width="30%">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<!-- 참고하세요 -->
							<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup -->
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회수</th>
								<th>추천수</th>
								<th>신고수</th>
								<th>삭제</th>
								<th>활성여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="board : ${boards}">
								<td th:text="${board.idx}">1</td>
								<td><a th:href="@{ '/board/freeboardView?idx=' + ${ board.idx } }" th:text="${board.title}" target="_blank">첫번째 게시글입니다.</a></td>
								<td th:text="${board.writer}">홍길동</td>
								<td th:text="${board.regdate}">2024-11-04</td>
								<td th:text="${board.hitCnt}">4</td>
								<td th:text="${board.goodCnt}">3</td>
								<td th:text="${board.badCnt}">0</td>
								<td>
								<a th:href="|javascript:deleteFreeBoard(${board.idx})|" class="btn_delete">삭제</a></td>
								<td th:text="${board.isUse}"></td>
							</tr>
						</tbody>
					</table>
					<div class="pagination">
						[(${pageList})]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" th:replace="~{ /include/footer }"></div>
</body>

</html>
