<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>문제 관리&nbsp;&#124;&nbsp;코딩해조</title>
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script src="/js/pub-ui-custom.js"></script>
</head>
<body>
<div id="header" th:replace="~{ include/header }"></div>
	<div class="container column mt50">
		<div class="column-row">
			<div class="c-column-2">
				<div id="system_menu" th:replace="~{ include/system }"></div>
			</div>
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2>문제 목록</h2>
					<div class="search-bar mb20">
						<form method="get" action="/admin/systemTest">
							<input type="text" name="searchKeyword" placeholder="검색어 입력" th:value="${searchKeyword}" />
							<button type="submit" class="btn_search">검색</button>
						</form>
					</div>
					<div class="sys-description-box mb20">
						<div class="box-itme">
							<h3>문제 수 : <span th:text="${totalCount}"></span></h3>
						</div>
						<div class="box-itme">
							<button class="testwrite-button"><a href="/admin/testboardWrite">문제 출제</a></button>
						</div>
					</div>
					<table>
						<caption style="display: none;">관리자 게시판 입니다</caption>
						<colgroup>
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>난이도</th>
								<th>언어</th>
								<th>출제일자</th>
								<th>제출인원</th>
								<th>정답률</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="test : ${tests}">
								<td th:text="${test.idx}">1</td>
								<td>
									<a th:href="@{/admin/testboardModify?id={id}(id=${test.idx})}" th:text="${test.title}">첫번째 문제입니다.</a>
								</td>
								<td th:text="${test.diff}">1레벨</td>
								<td>
									<ul>
										<!-- testLngList를 순회하며 언어 코드 출력 -->
										<li th:each="lang : ${test.testLngList}" 
											th:text="${lang.lng == 'LNG-0001' ? 'JAVA' : (lang.lng == 'LNG-0002' ? 'javascript' : 'Unknown')}">
										</li>
									</ul>
								</td>
								<td th:text="${#temporals.format(test.regdate, 'yyyy-MM-dd HH:mm:ss')}">2024-11-04</td>
								<td th:text="${test.submitCount}">999명</td>
								<td th:text="${#numbers.formatDecimal(test.correctRate,1,1)} + ' ' + '%' ">50%</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination">
						[(${pageList})]
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" th:replace="~{ include/footer }"></div>
</body>
</html>