<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원정보 관리</title>
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script src="/js/pub-ui-custom.js"></script>
</head>
<div id="header" th:replace="include/header"></div>
<body>
	<div class="container column mt50">
		<div class="column-row">
			<div class="c-column-2">
				<div id="system_menu" th:replace="include/system"></div>
			</div>
			<div class="c-column-8">
				<div class="sys-system_menu">
					<h2 class="mt20">회원 목록</h2>
					<div class="search-bar mb20">
					    <form method="get" action="/admin/systemMemberInfo">
					        <select name="searchType" th:value="${searchType}">
					            <option value="email" th:selected="${searchType == 'email'}">이메일</option>
					            <option value="nickname" th:selected="${searchType == 'nickname'}">닉네임</option>
					            <option value="name" th:selected="${searchType == 'name'}">이름</option>
					        </select>
					        <input type="text" name="searchKeyword" placeholder="검색어 입력" th:value="${searchKeyword}" />
					        <button type="submit" class="btn_search">검색</button>
					    </form>
					</div>
					<div class="sys-description-box mb20">
						<h3 class="mt20">회원 수 : <span th:text="${memberCount}"></span></h3>
					</div>
					<table>
						<caption style="display: none;">관리자 게시판 입니다</caption>
						<colgroup>
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>권한</th>
								<th>이메일</th>
								<th>닉네임</th>
								<th>이름</th>
								<th>전화번호</th>
								<th>가입일자</th>
								<th>상세보기</th>
								<th>회원탈퇴</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="member : ${members}">
								<td>1</td>
								<td th:text="${member.lvl == 'LVL-0001' ? 'MASTER' : 'USER'}">MASTER</td>
								<td th:text="${member.email}">example1@example.com</td>
								<td th:text="${member.nickname}">user1</td>
								<td th:text="${member.username}">홍길동</td>
								<td th:text="${member.tel}">010-1234-5678</td>
								<td th:text="${member.regdate}">2024-01-01</td>
								<td><a href="" class="btn_view">상세보기</a></td>
								<td><a href="" class="btn_delete">탈퇴</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</body>
<footer>
	<div id="footer" th:replace="include/footer"></div>
</footer>
</html>