<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>코딩테스트 연습&nbsp;&#124;&nbsp;코딩해조</title>
<!-- Standard css -->
<link rel="icon" href="/img/logo/favicon.png">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<!-- pub-js link -->
<script src="/js/pub-ui-custom.js"></script>
<!-- common-js link -->
<script src="/js/common.js"></script>
</head>
<body>
	<div id="load" class="delay-filed" style="display: none;">
		<div class="delay-icon"><i class="xi-spinner-5"></i></div>
	</div>
	<div class="challenge-navbar">
		<ol class="navbar-breadcrumb">
			<a href="/" class="navbar-logo"><img src="/img/logo/icon_b.png" alt="logo" style="height: 30px; margin-top: 5px;"></a>
			<li><a href="/test/collect">문제 모아보기</a></li>
			<li class="active">[[ ${ test.title } ]]</li>
		</ol>
	</div>

	<!-- 컨텐트 시작부 -->
	<div class="wrap">
		<div class="challenge-content">
			<!-- 제목 & 북마커 -->
			<div class="challenge-nav">
				<div class="nav-item">
					<i th:if="${isbookmarked == 'no'}" th:onclick="|bookmark('${test.idx}', 'add')|" th:id="@{'bookmark-add-' + ${test.idx}}" class="xi-bookmark-o"></i>
					<i th:if="${isbookmarked == 'yes'}" th:onclick="|bookmark('${test.idx}', 'remove')|" th:id="@{'bookmark-remove-' + ${test.idx}}" class="xi-bookmark"></i>
					<span class="challenge-title">[[ ${ test.title } ]]</span>
				</div>
				<div class="nav-item">
					<div class="dropdown-language">
						<div class="dropdown-menu" id="language">
							<th:block th:if="${ java == 'Y' }">
								<button type="button" class="dropdown-item btn-language" data-language="java">Java</button>
							</th:block>
							<th:block th:if="${ js == 'Y' }">
								<button type="button" class="dropdown-item btn-language" data-language="js">JavaScript</button>
							</th:block>
							<th:block th:if="${ oracle == 'Y' }">
								<button type="button" class="dropdown-item btn-language" data-language="sql">Oracle</button>
							</th:block>
						</div>
					</div>
				</div>
			</div>

			<!-- 컨텐츠 영역 -->
			<div class="challenge-content-list">
				<div class="challenge-content-question">
					<h6 class="guide-section-title">문제 설명</h6>
					<div class="challenge-content-question-section" th:utext="${ descHtml }"></div>
				</div>
				<div class="challenge-content-run">
					<h6 class="guide-section-title">코드 에디터</h6>
					<!-- CodeMirror -->
					<textarea id="batch_content" name="batch_content"></textarea>
					<h6 class="guide-section-title mt20">결과</h6>
					<div class="resultArea">
						<p id="output">실행 결과가 여기에 표시됩니다.</p>
					</div>
				</div>
			</div>
			<!-- 하단 보내기 값 -->
			<div class="bottom-list">
				<div class="testcase-button">
					<a th:if="${ session.email != null }" href="javascript:toQuestion('write')" class="btn-show-question">질문하기</a>
					<a href="javascript:toQuestion('board')" class="btn-show-question">질문게시판</a>
				</div>
				<div class="func-buttons">
					<th:block th:if="${ session.email != null }">
						<button class="btn_check" type="button" onclick="challenge('run')">실행</button>
						<button class="btn_check" type="button" onclick="challenge('submit')">제출</button>
					</th:block>
					<button th:if="${ session.email == null }" class="btn_check" type="button" onclick="location.href='/member/login'">로그인</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- toast API -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

	<!-- CodeMirror Kit -->
	<script src="/js/codemirror/codemirror-5.65.18/lib/codemirror.js"></script>
	<script src="/js/codemirror/codemirror-5.65.18/mode/clike/clike.js"></script>
	<script src="/js/codemirror/codemirror-5.65.18/mode/sql/sql.js"></script>
	<script src="/js/codemirror/codemirror-5.65.18/mode/javascript/javascript.js"></script>
	<link rel="stylesheet" href="/js/codemirror/codemirror-5.65.18/lib/codemirror.css">
	<link rel="stylesheet" href="/js/codemirror/codemirror-5.65.18/theme/monokai.css">
	
	<!-- SweetAlert2 link -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		//로딩 대기화면
		const loading_page = document.getElementById("load");
	
		//textarea element 가져오기
		let textarea_content = document.getElementById('batch_content');
		
		let selectedLanguage; //초기 언어
		let lngMode; //에디터 모드
		if ('[[ ${ java } ]]' === 'Y') {
			selectedLanguage = 'java';
			lngMode = 'text/x-java';
		} else if ('[[ ${ js } ]]' === 'Y') {
			selectedLanguage = 'js';
			lngMode = 'text/javascript';
		} else if ('[[ ${ oracle } ]]' === 'Y') {
			selectedLanguage = 'oracle';
			lngMode = 'text/x-sql';
		}
		
		//CodeMirror 에디터 초기화
		var editor = CodeMirror.fromTextArea(textarea_content, {
			lineNumbers: true, 
			lineWrapping: true, 
			styleActiveLine: true, 
			foldGutter: true, 
			theme: 'monokai',
			mode: lngMode, 
			gutter: true
		});

		const outputArea = document.getElementById("output");

		//초기 언어에 대한 세팅
		document.querySelectorAll('.btn-language').forEach((btn) => {
			if (btn.matches('button[data-language="' + selectedLanguage + '"]'))
				btn.classList.add('active');
		});

		//언어 버튼 클릭 시 모드 변경
		document.querySelectorAll('.btn-language').forEach((button) => {
			button.addEventListener('click', (e) => {
				selectedLanguage = e.target.getAttribute('data-language');
				let mode = selectedLanguage === 'java' ? 'text/x-java' :
										selectedLanguage === 'js' ? 'text/javascript' :
										selectedLanguage === 'oracle' ? 'text/x-sql' : '';
				
				editor.setOption('mode', mode);
				//editor.setValue(''); 
				outputArea.innerText = "실행 결과가 여기에 표시됩니다."; //언어 변경 시 출력 초기화

				//버튼 활성화 상태 업데이트
				document.querySelectorAll('.btn-language').forEach((btn) => btn.classList.remove('active'));
				e.target.classList.add('active');
				loadTestLng();
			});
		});
		
		//문제 관련 변수 (언어별 문제 인덱스, 정답 소스, 실행 메인 소스, 제출 메인 소스)
		let tlIdx, correctSrc, runSrc, submSrc;
		
		//언어별 문제 가져오기
		const loadTestLng = async () => {
			let lngCode = selectedLanguage === 'java' ? 'LNG-0001' :
										selectedLanguage === 'js' ? 'LNG-0002' :
										selectedLanguage === 'oracle' ? 'LNG-0003' : '';
			
			await fetch('/test/language', {
				method: 'POST',
				headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				body: new URLSearchParams({
					'test_idx': parseInt('[[ ${ test.idx } ]]'),
					'language': lngCode
				})
			})
			.then((response) => response.json())
			.then((data) => {
				tlIdx = data.idx;
				editor.setValue(getEditorContent(data.content_src));
				correctSrc = data.correct_src;
				runSrc = data.run_src;
				submSrc = data.subm_src;
			})
			.catch((error) => {
				console.log("error: " + error);
				alert("시스템 장애로 인해 문제 로딩에 실패했습니다.");
			});
		}
		
		//코드 실행 및 제출 시 처리
		const challenge = async (type) => {
			//로딩화면 등장
			loading_page.style.display = 'block';
			
			fetch('/test/challenge', {
				method: 'POST',
				headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				body: new URLSearchParams({
					'type': type,
					'tl_idx': tlIdx,
					'code': setEditorContent(editor.getValue()),
					'correct_src': correctSrc,
					'run_src': runSrc,
					'subm_src': submSrc,
					'language': selectedLanguage
				})
			})
			.then((response) => response.json())
			.then((data) => {
				//로딩화면 퇴장
				loading_page.style.display = 'none';
				
				outputArea.innerText = '';
				
				if (data.message == "TYPE_NOT_AVAILABLE") { //type 값이 run, submit 모두 해당되지 않을 경우
					outputArea.innerText = '유효하지 않은 요청입니다.';
				} else if (data.message == "run") { //실행 시 결과
					alert('passcnt: ' + data.passcnt);
					for (let i = 0; i < data.subdata.length; i++) {
						let elm = document.createElement('table');
						elm.setAttribute('data-index', i);
						
						let pf, msg;
						if (data.subdata[i].resultS == data.subdata[i].resultV) {
							pf = 'pass';
							msg = '테스트를 통과했습니다.';
						} else {
							pf = 'fail';
							msg = '실행한 결괏값 ' + data.subdata[i].resultS;
							switch (data.subdata[i].resultS.toString().slice(-1)) {
								case '2': case '4': case '5': case '9':
									msg += '가';
									break;
								
								default:
									msg += '이';
									break;
							}
							msg += ' 기댓값 ' + data.subdata[i].resultV;
							switch (data.subdata[i].resultV.toString().slice(-1)) {
								case '2': case '4': case '5': case '9':
									msg += '와';
									break;
								
								default:
									msg += '과';
									break;
							}
							msg += ' 다릅니다.';
						}

						let result = '';
						result += '<tbody>\n' +
											'\t<tr>\n' +
											'\t\t<td colspan="2">테스트 ' + (i + 1) + '</td>\n' +
											'\t</tr>\n' +
											'\t<tr>\n' +
											'\t\t<td class="td-label" align="right">입력값 <span>〉</span></td>\n' +
											'\t\t<td class="input">' + data.subdata[i].a + ', ' + data.subdata[i].d + ', ' + data.subdata[i].included + '</td>\n' +
											'\t</tr>\n' +
											'\t<tr>\n' +
											'\t\t<td class="td-label" align="right">기댓값 <span>〉</span></td>\n' +
											'\t\t<td class="output">' + data.subdata[i].resultV + '</td>\n' +
											'\t</tr>\n' +
											'\t<tr>\n' +
											'\t\t<td class="td-label" align="right" valign="top">실행 결과 <span>〉</span></td>\n' +
											'\t\t<td class="result ' + pf + '">' + msg + '</td>\n' +
											'\t</tr>\n' +
											'</tbody>';
						
						elm.innerHTML = result;
						
						outputArea.appendChild(elm);
					}
					
					outputArea.innerHTML += '<h4 class="mt20">테스트 결과</h4>' +
																	'<p class="' + ((data.passcnt == 2) ? 'pass' : 'fail') + '">2개 중 ' + data.passcnt + '개 성공</p>';
					
					if (data.passcnt == 2) outputArea.innerHTML += '<p>샘플 테스트 케이스를 통과했다는 의미로, 작성한 코드가 문제의 정답은 아닐 수 있습니다.</p>'
				} else if (data.message == "submit") { //제출 시 결과
					let elm = document.createElement('table');
					elm.setAttribute('class', 'console-test-group');
					elm.setAttribute('data-category', 'correctness');
					
					let result = '<tbody>';
					
					for (let i = 0; i < data.subdata.length; i++) {
						result += '\t<tr>\n' +
											'\t\t<td valign="top" class="td-label">테스트 ' + (i + 1) + ' <span>〉</span></td>\n' +
											'\t\t<td class="result ' + (data.subdata[i].resultS == data.subdata[i].resultV ? 'pass">통과' : 'fail">실패') + '</td>\n' +
											'\t</tr>';
					}
					
					result += '</tbody>';
					
					elm.innerHTML = result;
					
					outputArea.appendChild(elm);
					
					outputArea.innerHTML += '<h4 class="mt20">채점 결과</h4><p>점수: ' + (data.passcnt * 5) + ' / 100 점</p>';
					
					if ((data.passcnt * 5) >= 70) {
						Swal.fire({
							icon: 'success',
							title: '정답입니다!',
							confirmButtonText: '확인'
						});
					} else {
						Swal.fire({
							icon: 'error',
							title: '틀렸습니다!',
							text: '결과를 확인해주세요.',
							confirmButtonText: '확인'
						});
					}
				}
			})
			.catch((error) => {
				outputArea.innerText = "오류 발생: " + error.message;
			});
		}
		
		//질문하기 및 질문게시판
		const toQuestion = (kind) => {
			switch (kind) {
				case 'write':
					location.href = '/test/m/questionWrite?tl_idx=' + tlIdx;
					break;
					
				case 'board':
					location.href = '/test/questionBoard?kind=' + tlIdx;
					break;
			}
		}
		
		async function bookmark(testIdx, action) {
			try {
				const response = await fetch('/test/bookmark', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ testIdx, action })
				});
				const data = await response.json();
				const bookmarkaddBtn = document.getElementById(`bookmark-add-${testIdx}`);
				const bookremoveBtn = document.getElementById(`bookmark-remove-${testtIdx}`);
				if (data.isbookmarked) {
					bookmarkaddBtn.style.display = 'none';
					bookremoveBtn.style.display = 'inline';
				} else {
					bookmarkaddBtn.style.display = 'inline';
					bookremoveBtn.style.display = 'none';
				}
			} catch (error) {
				console.error("좋아요 상태를 변경할 수 없습니다:", error);
			} finally {
				location.reload(true);
			}
		}
	</script>
</body>
<script>
	loadTestLng();
</script>
</html>