<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>질문 모아보기&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 : 테스트 용도입니다-->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ include/header }"></div>
	<div class="banner-zone">
		<!-- 첫번째 영역 : 나중에 보자-->
		<div class="banner-content">
			<div class="content-banner-title">
				<h3>코딩테스트 질문🥳</h3>
				<p>코딩테스트 연습 문제와 관련된 질문과 답변을 제공합니다. </p>
				<p>문제를 풀며 알게된 경험을 모두와 함께 나눠보세요.</p>
			</div>
			<div class="content-banner-img" style="padding-top: 40px;">
				<img src="/img/aset01.png" alt="" style="position: relative; top: 65px; width: 150px;">
				<img src="/img/aset02.png" alt="" style="width: 150px;">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-content">
			<div class="content-board-question">
				<!-- <div class="question-head">
					<h2 class="title">코딩테스트 질문</h2>
					<p class="description">코딩테스트 연습 문제와 관련된 질문과 답변을 제공합니다. 문제를 풀며 알게된 경험을 모두와 함께 나눠보세요.</p>
				</div> -->
				<div class="question-title mt20">
					<div class="question-box">
						<div class="question-item">
							<div class="item-tab">
								<button onclick="changeTab('A')">모든 질문</button>
								<button onclick="changeTab('N')">답변 필요</button>
								<button th:if="${ session.email != null }" onclick="changeTab('M')">내 질문</button>
							</div>
						</div>
						<div class="question-item">
							<div class="search-inp" style="width: 400px;">
								<form action="/test/questionBoard" method="get" style="width: 100%;">
									<input type="hidden" name="kind" th:value="${ kind }">
									<input type="text" name="keyword" id="keyword" placeholder="질문 및 내용을 검색해보세요" th:value="${ keyword }">
								</form>
							</div>
						</div>
					</div>
					<div class="question-box">
						<div class="question-item">
							<div class="total"><b th:text="${ #numbers.formatInteger(totalElements, 1, 'COMMA') }">{count}</b>개의 질문</div>
						</div>
					</div>
				</div>

				<div class="question-body">
					<div class="question-table">
						<!-- 목록 (반복할 부분) 시작 -->
						<div class="question-list" th:each="list : ${ list }">
							<div class="answer">
								<p class="number" th:text="${ list.answerCount }">0</p>
								<p class="label">답변</p>
							</div>
							<div class="content">
								<small class="challenge">
									<a th:href="@{ '/test/challenge?idx=' + ${ list.tlIdx.testIdx.idx } }" target="_blank" th:text="@{ 'LV. ' + ${ list.tlIdx.testIdx.diff } + ' ' + ${ list.tlIdx.testIdx.title } }">Lv.1 없는 숫자 더하기{퀴즈 문제 이름}</a>
									<span th:text="${ #temporals.format(list.regdate, 'yyyy-MM-dd HH:mm:ss') }"></span>
								</small>
								<a th:href="@{ '/test/questionBoardView?idx=' + ${ list.idx } }"><h3 class="title">[[ ${ list.title } ]]<i th:if="${ list.isNew == 'Y' }" class="xi-new"></i></h3></a>
								<p class="detail" th:text="${ list.content }"></p>

								<div class="info">
									<div class="info-item">
										<div class="tag-group">
											<span class="card-small-default-tag" th:text="${ list.lngName }"></span>
										</div>
										<div class="user-profile">
											<img th:src="@{ '/member/img/' + ${ list.email.email } }" alt="" >
											<span class="user-nickname" th:text="${ list.writer }">{user}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${ totalElements == 0 }" class="question-list">조건에 해당하는 질문이 없습니다.</div>
						<!-- 목록 (반복할 부분) 끝 -->
					</div>

					<!-- 페이지 커스텀 할부분 -->
					<div class="qusetion-pageing">
						[( ${ pageList } )]
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ include/footer }"></div>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		//탭 변경
		const changeTab = (kind) => {
			location.href = '/test/questionBoard?kind=' + kind;
		}
	</script>
</body>

<script>
	pagenation();
</script>

</html>