<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>게시판</title>
		<!-- Standard css -->
		<link rel="icon" href="/img/logo/favicon.png" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"/>
		<!-- pub-js link -->
		<script src="/js/pub-ui-custom.js"></script>
		<script src="/js/pub-script"></script>
	</head>
	
	<script>
		async function toggleLike(postIdx, action) {
			try {
				const response = await fetch('/board/m/toggleLike', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ postIdx, action })
				});
				const data = await response.json();

				document.getElementById(`like-count-${postIdx}`).innerText = data.likeCount;
				
				const likeUpBtn = document.getElementById(`like-up-${postIdx}`);
				const likeDownBtn = document.getElementById(`like-down-${postIdx}`);

				if (data.isLiked) {
					likeUpBtn.style.display = 'none';
					likeDownBtn.style.display = 'inline';
				} else {
					likeUpBtn.style.display = 'inline';
					likeDownBtn.style.display = 'none';
				}
			} catch (error) {
				console.error("좋아요 상태를 변경할 수 없습니다:", error);
			} finally{
				location.reload(true);
			}
		}
	</script>

	<body>
	<!-- header 영역 -->
	<div id="header" th:replace="include/header"></div>
		<div class="container">
			<div class="main-content">
				<div class="content-board-free">
					<div class="content-board-free-title">
						<h3>자유롭게 이야기를 나누어 보세요</h3>
						<button class="board-free-btn" onclick="location.href='/board/m/freeboardWrite'" >작성하기</button>
					</div>
					<div class="content-board-free-content">
						<div class="free-content-box">
							<!-- content-box-item : 가로 3개 배열로 구성 -->

							<!-- 게시물 반복 출력 -->
							<div class="content-box-item" th:each="post : ${posts}" th:if="${post.isUse == 'Y' && post.cat != '공지사항'}">
								<h4 th:text="${post.cat}">카테고리</h4>
								<a th:href="@{/board/freeboardView(idx=${post.idx})}">
									<h5 th:text="${post.title}">게시물 제목</h5>
									<p class="content-title" th:text="${post.content}">게시물 내용</p>
								</a>
								<div class="profile-title">
									<p class="profile-name" th:text="${post.writer}">작성자</p>
									<p class="profile-date" th:text="${post.regdate}">작성 시간</p>
								</div>
								<div class="profile-item">
									<ol>
										<li><i class="xi-eye-o"></i><span th:text="${post.hitCnt}">{0}</span></li>
										<li><i class="xi-comment-o"></i><span th:text="${replyCounts[post.idx]}">{0}</span></li>
									</ol>
									<div class="like">
										<a th:if="${likeStatusMap[post.idx] == 'no'}" th:href="|javascript:toggleLike('${post.idx}', 'up')|" th:id="@{'like-up-' + ${post.idx}}" class="xi-heart-o"></a>
										<a th:if="${likeStatusMap[post.idx] == 'yes'}" th:href="|javascript:toggleLike('${post.idx}', 'down')|" th:id="@{'like-down-' + ${post.idx}}" class="xi-heart"></a>
										<span id="like-count-${post.idx}" th:text="${likeCounts[post.idx]}">0</span>
										<!-- like 시 클릭 될 클래스 명<span><i class="xi-heart"></i>{0}</span> -->
									</div>
								</div>
							</div>
							<!-- 게시물 반복 출력 끝 -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="include/footer"></div>
	</body>
</html>
