<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>자유 게시판&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"/>
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>

<body>
<!-- header 영역 -->
<div id="header" th:replace="~{ /include/header }"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-board-free">
				<div class="content-board-free-title">
					<h3>자유롭게 이야기를 나누어 보세요</h3>
					<button th:if="${ session.email != null }" class="board-free-btn" onclick="location.href='/board/m/freeboardWrite'" >작성하기</button>
				</div>
				<div class="content-board-free-content">
					<div class="free-content-box">
						<!-- content-box-item : 가로 3개 배열로 구성 -->

						<!-- 게시물 반복 출력 -->
						<div class="content-box-item" th:each="list : ${ list }">
							<h4 th:text="${ list.catName }">카테고리</h4>
							<a th:href="@{ '/board/freeboardView?idx=' + ${ list.idx} }">
								<h5 th:text="${ list.title }">게시물 제목</h5>
								<p class="content-title" th:text="${ list.content }">게시물 내용</p>
							</a>
							<div class="profile-title">
								<p class="profile-name" th:text="${ list.writer }">작성자</p>
								<p class="profile-date" th:text="${ #temporals.format(list.regdate, 'yyyy-MM-dd HH:mm:ss') }">작성 시간</p>
							</div>
							<div class="profile-item">
								<ol>
									<li><i class="xi-eye-o"></i><span th:text="${ list.hitCnt }">{0}</span></li>
									<li><i class="xi-comment-o"></i><span th:text="${ list.replyCnt }">{0}</span></li>
								</ol>
								<div class="like">
									<a th:if="${ list.goodChk == 'Y' }" th:href="|javascript:recommend('${ list.idx }')|" th:id="@{ 'good-' + ${ list.idx } }" th:kind="${ list.goodChk }" class="xi-heart"></a>
									<a th:if="${ list.goodChk == 'N' }" th:href="|javascript:recommend('${ list.idx }')|" th:id="@{ 'good-' + ${ list.idx } }" th:kind="${ list.goodChk }" class="xi-heart-o"></a>
									<span th:id="@{ 'good-count-' + ${ list.idx } }" th:text="${ list.goodCnt }">0</span>
									<!-- like 시 클릭 될 클래스 명<span><i class="xi-heart"></i>{0}</span> -->
								</div>
							</div>
						</div>
						<!-- 게시물 반복 출력 끝 -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ /include/footer }"></div>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		//페이징 변수
		let page = 1;
		let totalPage = parseInt('[[ ${ totalPage } ]]');
		
		//게시물 페이징
		const loadBoard = async () => {
			let formData = new FormData();
			formData.append('page', page);
			formData.append('email', '[[ ${ session.email } ]]');
			
			await fetch('/board/freeboard', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				addBoardList(data);
			})
			.catch((error) => {
				console.log('error: ' + error);
				Swal.fire({
					icon: 'error',
					text: '시스템 장애로 인해 게시물 가져오기에 실패했습니다.',
					confirmButtonText: '확인'
				});
			})
		}
		
		const addBoardList = (data) => {
			const jsonInfo = data.content;
			
			let boardList = document.querySelector('.free-content-box');
			
			for (const i in jsonInfo) {
				let elm = document.createElement('div');
				elm.classList.add('content-box-item');
				
				let result = '';
				result += '<h4>' + jsonInfo[i].catName + '</h4>\n' +
									'<a href="/board/freeboardView?idx=' + jsonInfo[i].idx + '">\n' +
									'\t<h5>' + jsonInfo[i].title + '</h5>\n' +
									'\t<p class="content-title">' + jsonInfo[i].content + '</p>\n' +
									'</a>\n' +
									'<div class="profile-title">\n' +
									'\t<p class="profile-name">' + jsonInfo[i].writer + '</p>\n' +
									'\t<p class="profile-date">' + jsonInfo[i].regdate + '</p>\n' +
									'</div>\n' +
									'<div class="profile-item">\n' +
									'\t<ol>\n' +
									'\t\t<li><i class="xi-eye-o"></i><span>' + jsonInfo[i].hitCnt + '</span></li>\n' +
									'\t\t<li><i class="xi-comment-o"></i><span>' + jsonInfo[i].replyCnt + '</span></li>' +
									'\t</ol>\n' +
									'\t<div class="like">\n' +
									'\t\t<a href="javascript:recommend(\'' + jsonInfo[i].idx + '\')" id="good-' + jsonInfo[i].idx + '" kind="' + jsonInfo[i].goodChk + '" class="xi-heart' + ((jsonInfo[i].goodChk == 'Y') ? '' : '-o') + '"></a>\n' +
									'\t\t<span id="good-count-' + jsonInfo[i].idx + '">' + jsonInfo[i].goodCnt + '</span>\n' +
									'\t</div>\n' +
									'</div>';
				
				elm.innerHTML = result;
				boardList.appendChild(elm);
			}
		}
		
		//게시물 추천
		const recommend = async (idx) => {
			if ('[[ ${ session.email } ]]' == '') return false;
			
			const goodBtn = document.querySelector('#good-' + idx);
			const goodCnt = document.querySelector('#good-count-' + idx);
			let goodCntNum = parseInt(goodCnt.innerText);
			let kind = (goodBtn.getAttribute("kind") == 'Y') ? 'N' : 
									(goodBtn.getAttribute("kind") == 'N') ? 'Y' : '';
			
			if (kind == '') return false;
			
			await fetch('/board/m/recommend', {
				method: 'POST',
				headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				body: new URLSearchParams({
					'board_idx': idx,
					'email': '[[ ${ session.email } ]]',
					'kind': kind
				})
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message == 'good') {
					if (kind == 'Y') {
						goodBtn.classList.remove('xi-heart-o');
						goodBtn.classList.add('xi-heart');
						goodCntNum++;
					} else if (kind == 'N') {
						goodBtn.classList.remove('xi-heart');
						goodBtn.classList.add('xi-heart-o');
						goodCntNum--;
					}
				
					goodBtn.setAttribute('kind', kind);
					goodCnt.innerText = goodCntNum;
				} else {
					Swal.fire({
						icon: 'error',
						text: '시스템 장애로 인해 게시물 추천에 실패했습니다.',
						confirmButtonText: '확인'
					});
				}
			})
		}
		
		//스크롤 맨 아래로 이동 시 다음 페이지 호출
		window.addEventListener('scroll', () => {
			var isScrollAtBottom = window.innerHeight + window.scrollY >= document.body.offsetHeight;
			
			if (isScrollAtBottom) {
				if (page >= totalPage) return false;
				
				page++;
				loadBoard();
			}
		})
	</script>
</body>
</html>
