<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>공지 게시판&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>

<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ /include/header }"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-board-notice">
				<h2>
					코딩해조의 새로운 소식들!
					<p>신규 콘텐츠, 이벤트, 기능 추가 등의 새로운 이야기를 들려드려요</p>
				</h2>
				<ul class="board-notice-list">
					<!-- list-item -->
					<li th:each="list : ${ notices }">
						<a th:href="@{ '/board/noticeboardView?idx=' + ${ list.idx } + '&page=' + ${ page } }">
							<h3>
								<!-- new 일때 : 2일 까지만? -->
								<i th:if="${ list.isNew == 'Y' }" class="xi-new"></i>
								[[ ${ list.title } ]]
							</h3>
							<p>
								<span><b>날짜</b>[[ ${ list.regdate } ]]</span>
								<span><b>작성자</b>[[ ${ list.writer } ]]</span>
							</p>
						</a>
					</li>
				</ul>
				<div>
					[( ${ pageList } )]
				</div>
			</div>
		</div>
	</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ /include/footer }"></div>
</body>

</html>