<div class="system-menu">
	<h4><a href="/admin/systemMain"><i class="xi-cog"></i>시스템 관리</a></h4>
	<ul>
		<li><a href="/admin/systemMemberInfo">회원정보</a></li>
		<li>
			<a href="/admin/systemNotice">게시물 관리</a>
			<ul class="sub-menu">
				<li><a href="/admin/systemNotice">공지사항</a></li>
				<li><a href="/admin/systemFreeBoard">자유게시판</a></li>
				<li><a href="/admin/systemQBoard">질문게시판</a></li>
				<li><a href="/admin/systemReply">댓글 관리</a></li>
			</ul>
		</li>
		<li><a href="/admin/systemTest">문제 관리</a></li>
		<li>
			<a href="/admin/systemChat">채팅방 관리</a>
			<ul class="sub-menu">
				<!-- <li><a href="/admin/systemChat.html">채팅방 목록</a></li> -->
			</ul>
		</li>
	</ul>
</div>