<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>비밀번호 찾기</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 -->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="include/header"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-join" style="text-align: center;">
				<div class="mt100"></div>
				<h2>임시 비밀번호 발급받기</h2>
				<form id="findForm" name="findForm" method="post">
					<div class="join-email-form">
						<label for="email" class="bad">이메일</label>
						<input type="text" id="email" name="email" placeholder="example@kodinghaejo.com" oninput="checkEmail()">
						<p id="emailMsg" class="bad"></p>
					</div>
					<div class="join-tel-form">
						<label for="tel">전화번호</label>
						<input type="text" id="tel" name="tel" maxlength="13" placeholder="010-1234-5678" oninput="checkTel()">
						<p id="telMsg" class="bad"></p>
					</div>
					<input type="button" value="임시 비밀번호 발급받기" onclick="findPassword()">
				</form>
			</div>
		</div>
	</div>
	
	<style type="text/css">
		p.bad {
			color: #f00;
		}
		
		p.good {
			color: #0a0;
		}
	
		input.bad, input.bad:focus {
			color: #f00;
			border: 1px solid #f00;
		}
	</style>
	
	<script type="text/javascript">
		var usernameOk = 'N'; //이름 검증여부
		var telOk = 'N'; //전화번호 확인 검증여부
		
		//임시 비밀번호 발급받기
		const findPassword = async () => {
			//========== 입력값 유효성 검증 시작 ==========
			//이메일(아이디)
			if (emailOk == 'N') {
				checkEmail();
				email.focus();
				return false;
			}
			
			//전화번호
			if (telOk == 'N') {
				checkTel();
				tel.focus();
				return false;
			}
			//========== 입력값 유효성 검증 종료 ==========
			
			let formData = new FormData(findForm);

			await fetch('/member/findPassword', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message == 'good') {
					alert('회원님의 이메일로 임시 비밀번호가 발급되었습니다.\n\n안내 메일을 확인해주세요.');
				} else if (data.message == 'ID_NOT_FOUND') {
					alert('해당 이메일로 가입된 계정이 존재하지 않습니다.');
				} else if (data.message == 'TEL_NOT_MATCH') {
					alert('전화번호가 일치하지 않습니다.');
				} else {
					alert('시스템 장애로 인해 임시 비밀번호 발급에 실패했습니다.')
				}
			}).catch((error) => {
				console.log('error: ' + error);
			});
		}
	
		//이메일 검증
		const checkEmail = () => {
			//정규식으로 이메일 유효성 검증
			const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
			
			if (emailRegex.test(email.value)) {
				emailOk = 'Y';
				email.classList.remove('bad');
				emailMsg.innerText = '';
			} else {
				emailOk = 'N';
				email.classList.add('bad');
				emailMsg.innerText = (email.value == '') ? '이메일을 입력해주세요.' : '유효하지 않은 이메일입니다.';
			}
		}

		//전화번호 --> 하이픈 자동 추가 & 유효성 검증
		const checkTel = () => {
			const changeTel = tel.value
								.replace(/[^0-9]/g, "") //숫자 제외한 문자 제거
								.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`); // 숫자 $1(2, 3)-$2(3, 4)-$3(4) 자리로 치환
			
			tel.value = changeTel;

			//유효성 검증
			if (changeTel.length >= 11) {
				telOk = 'Y';
				tel.classList.remove('bad');
				telMsg.innerText = '';
			} else {
				telOk = 'N';
				tel.classList.add('bad');
				telMsg.innerText = (tel.value == '') ? '전화번호를 입력해주세요.' : '유효하지 않은 전화번호입니다.';
			}
		}
	</script>

	<!-- footer영역 -->
	<div id="footer" th:replace="include/footer"></div>
</body>
</html>
