<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>회원가입</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 -->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="include/header"></div>
	<div class="container">
		<div class="main-content">
			<div class="content-join" style="text-align: center;">
				<div class="mt100"></div>
				<h2>회원가입</h2>
				<form id="joinForm" name="joinForm" method="post">
					<div class="join-email-form">
						<label for="email">이메일</label>
						<input type="text" id="email" name="email" placeholder="example@kodinghaejo.com" oninput="checkEmail()">
						<p id="emailMsg"></p>
					</div>
					<div class="join-username-form">
						<label for="username">이름</label>
						<input type="text" id="username" name="username" placeholder="홍길동" oninput="checkUsername()">
						<p id="usernameMsg" class="bad"></p>
					</div>
					<div class="join-password-form">
						<label for="password">비밀번호</label>
						<input type="password" id="password" name="password" placeholder="********" oninput="checkPassword()">
					</div>
					<div class="join-password-info">
						<p id="passwordMsg1">영문/숫자/특수문자 중, 2가지 이상 포함</p>
						<p id="passwordMsg2">8자 이상 32자 이하 입력 (공백 제외)</p>
						<p id="passwordMsg3">연속 3자 이상 동일한 문자/숫자 제외</p>
					</div>
					<div class="join-password-form">
						<label for="passwordCheck">비밀번호 확인</label>
						<input type="password" id="passwordCheck" name="passwordCheck" placeholder="********" oninput="checkPasswordCheck()">
						<p id="passwordCheckMsg" class="bad"></p>
					</div>
					<div class="join-tel-form">
						<label for="tel">전화번호</label>
						<input type="text" id="tel" name="tel" maxlength="13" placeholder="010-1234-5678" oninput="checkTel()">
						<p id="telMsg" class="bad"></p>
					</div>
					<input type="button" value="가입하기" onclick="join()">
					<input type="hidden" name="kind" value="I">
				</form>
			</div>
		</div>
	</div>
	
	<style type="text/css">
		p.bad {
			color: #f00;
		}
		
		p.good {
			color: #0a0;
		}
	
		input.bad, input.bad:focus {
			color: #f00;
			border: 1px solid #f00;
		}
	</style>
	
	<script type="text/javascript">
		var emailOk = 'N'; //이메일 검증여부
		var usernameOk = 'N'; //이름 검증여부
		var passwordOk = 'N'; //비밀번호 검증여부
		var passwordCheckOk = 'N'; //비밀번호 확인 검증여부
		var telOk = 'N'; //전화번호 확인 검증여부
		
		//회원가입
		const join = async () => {
			//========== 입력값 유효성 검증 시작 ==========
			//이메일(아이디)
			if (emailOk == 'N') {
				checkEmail();
				email.focus();
				return false;
			}
			
			//이름
			if (usernameOk == 'N') {
				checkUsername();
				username.focus();
				return false;
			}
			
			//비밀번호
			if (passwordOk == 'N') {
				checkPassword();
				password.focus();
				return false;
			}
			
			//비밀번호 확인
			if (passwordCheckOk == 'N') {
				checkPasswordCheck();
				passwordCheck.focus();
				return false;
			}
			
			//전화번호
			if (telOk == 'N') {
				checkTel();
				tel.focus();
				return false;
			}
			//========== 입력값 유효성 검증 종료 ==========
			
			let formData = new FormData(joinForm);

			await fetch('/member/join', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message == 'good') {
					alert(decodeURIComponent(data.username) + '님, 회원가입을 축하드립니다.');
					document.location.href = '/';
				} else {
					alert('시스템 장애로 인해 회원가입에 실패했습니다.')
				}
			});
		}
	
		//이메일 검증
		const checkEmail = async () => {
			email.classList.remove('good');
			email.classList.remove('bad');
			emailMsg.classList.remove('good');
			emailMsg.classList.remove('bad');
			
			//정규식으로 이메일 유효성 검증
			const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
			
			if (!emailRegex.test(email.value)) {
				emailMsg.innerText = (email.value == '') ? '이메일을 입력해주세요.' : '유효하지 않은 이메일입니다.';
				emailOk = 'N';
				email.classList.add('bad');
				emailMsg.classList.add('bad');
				return false;
			}
			
			await fetch('/member/checkEmail', {
				method: 'POST',
				body: email.value
			})
			.then((response) => response.text())
			.then((data) => {
				if (data == 0) { //0: 이메일 계정 없음, 1: 이메일 계정 존재
					emailMsg.innerText = '사용 가능한 이메일입니다.';
					emailOk = 'Y';
					email.classList.add('good');
					emailMsg.classList.add('good');
				} else {
					emailMsg.innerText = '해당 이메일로 가입된 계정이 존재합니다.';
					emailOk = 'N';
					email.classList.add('bad');
					emailMsg.classList.add('bad');
				}
			});
		}
		
		//이름 검증
		const checkUsername = () => {
			//정규식으로 이름 유효성 검증
			const nameRegex = /^[가-힣]+$/;

			if (nameRegex.test(username.value)) {
				usernameOk = 'Y';
				username.classList.remove('bad');
				usernameMsg.innerText = '';
			} else {
				usernameOk = 'N';
				username.classList.add('bad');
				usernameMsg.innerText = (username.value == '') ? '이름을 입력해주세요.' : '유효하지 않은 이름입니다.';
			}
		}
		
		//비밀번호 검증
		const checkPassword = () => {
			let check1 = true; //영문, 숫자, 특수문자 중 2가지 이상 포함여부 검증
			let check2 = true; //길이(8~32자), 공백 포함여부 검증
			let check3 = true; //연속 3자 이상 동일한 문자/숫자 포함여부 검증

			//메시지 초기화
			passwordMsg1.classList.remove('good');
			passwordMsg1.classList.remove('bad');
			passwordMsg2.classList.remove('good');
			passwordMsg2.classList.remove('bad');
			passwordMsg3.classList.remove('good');
			passwordMsg3.classList.remove('bad');
			
			if (password.value == '') {
				passwordOk = 'N';
				return false;
			}
				
			//정규식(영문, 숫자, 특수문자)
			const engRegex = /[a-z]/ig; //i: 대소문자 구분 없이
			const numRegex = /[0-9]/g;
			const speRegex = /[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi;
			const sameRegex = /([A-Za-z0-9`~!@#\$%\^&\*\(\)\{\}\[\]\-_=\+\\|;:'"<>,\./\?])\1{2,}/g;
			
			const engOk = (engRegex.test(password.value)) ? 1 : 0;
			const numOk = (numRegex.test(password.value)) ? 1 : 0;
			const speOk = (speRegex.test(password.value)) ? 1 : 0;
			
			//영문, 숫자, 특수문자 중 2가지 이상 포함여부 검증
			if (numOk + engOk + speOk < 2) {
				check1 = false;
				passwordMsg1.classList.add('bad');
			} else
				passwordMsg1.classList.add('good');
			
			//길이(8~32자), 공백 포함여부 검증
			if (password.value.length < 8 || password.value.length > 32 || password.value.search(/\s/) != -1) {
				check2 = false;
				passwordMsg2.classList.add('bad');
			} else
				passwordMsg2.classList.add('good');
			
			//동일 문자 연속 3자 이상 포함여부 검증
			if (sameRegex.test(password.value)) {
				check3 = false;
				passwordMsg3.classList.add('bad');
			} else
				passwordMsg3.classList.add('good');
			
			//모든 조건이 충족될 경우
			if (check1 && check2 && check3)
				passwordOk = 'Y';
		}
		
		//비밀번호 확인 검증
		const checkPasswordCheck = () => {
			if (password.value == passwordCheck.value) {
				passwordCheckOk = 'Y';
				passwordCheck.classList.remove('bad');
				passwordCheckMsg.innerText = '';
			} else {
				passwordCheckOk = 'N';
				passwordCheck.classList.add('bad');
				passwordCheckMsg.innerText = '비밀번호가 일치하지 않습니다.';
			}
		}
		
		//전화번호 --> 하이픈 자동 추가 & 유효성 검증
		const checkTel = () => {
			const changeTel = tel.value
								.replace(/[^0-9]/g, "") //숫자 제외한 문자 제거
								.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`); // 숫자 $1(2, 3)-$2(3, 4)-$3(4) 자리로 치환
			
			tel.value = changeTel;

			//유효성 검증
			if (changeTel.length >= 11) {
				telOk = 'Y';
				tel.classList.remove('bad');
				telMsg.innerText = '';
			} else {
				telOk = 'N';
				tel.classList.add('bad');
				telMsg.innerText = (tel.value == '') ? '전화번호를 입력해주세요.' : '유효하지 않은 전화번호입니다.';
			}
		}
	</script>

	<!-- footer영역 -->
	<div id="footer" th:replace="include/footer"></div>
</body>
</html>
