<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>로그인&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 -->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ /include/header }"></div>
	<div class="container login">
		<div class="main-content">
			<div class="intro-aset">
				<h2>반가워요</h2>
				<p>코딩해조에서 다양한 성장의 기회를 얻으세요</p>
				<!-- /* 이미지 다른거 넣기 */ -->
				<img src="/img/login_intro.png" alt="" >
			</div>
			<div class="content-login">
				<h2>로그인</h2>
				<form id="loginForm" name="loginForm" method="post">
					<div class="login-email-form">
						<label for="email">이메일</label>
						<input type="text" id="email" name="email" placeholder="이메일" onkeydown="pressEnter()">
					</div>
					<div class="login-password-form">
						<label for="password">비밀번호</label>
						<input type="password" id="password" name="password" placeholder="비밀번호" onkeydown="pressEnter()">
					</div>
					<input type="button" value="로그인" class="login_btn" onclick="checkLogin()">
				</form>
				
				<div class="info-login">
					<a href="/member/findId">아이디(이메일) 찾기</a>
					<span class="divider"></span>
					<a href="/member/findPassword">비밀번호 찾기</a>
					<span class="divider"></span>
					<a href="/member/join">이메일 회원가입</a>
				</div>
				
				<div class="sns-login">
					<h4>SNS 계정으로 간편하게 로그인</h4>
					<div class="sns-btn-group">
						<button class="sns-btn-google" onclick="snsLogin('google')"><i class="xi-google"></i></button>
						<button class="sns-btn-naver" onclick="snsLogin('naver')"><i class="xi-naver"></i></button>
						<!-- <input type="button" value="카카오" onclick="snsLogin('kakao')"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ /include/footer }"></div>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		//스프링 시큐리티가 처리하는 로그인
		const login = () => {
			loginForm.action = '/member/login';
			loginForm.submit();
		}

		//스프링 시큐리티에 의한 로그인 처리 전, 서버에 email과 password를 전송하여 인증 처리
		const checkLogin = async () => {
			//유효성 검사
			if (email.value == '') {
				Swal.fire({
					icon: 'warning',
					text: '이메일을 입력해주세요.',
					confirmButtonText: '확인'
				});
				email.focus();
				return false;
			}

			if (password.value == '') {
				Swal.fire({
					icon: 'warning',
					text: '비밀번호를 입력해주세요.',
					confirmButtonText: '확인'
				});
				password.focus();
				return false;
			}
			
			let formData = new FormData(loginForm);
			
			await fetch('/member/checkLogin', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				switch (data.message) {
					case 'good':
						login();
						break;
						
					case 'ID_NOT_FOUND':
						Swal.fire({
							icon: 'error',
							text: '해당 이메일로 가입된 계정이 존재하지 않습니다.',
							confirmButtonText: '확인'
						});
						email.focus();
						break; 
						
					case 'DELETE_ACCOUNT_DENY':
						Swal.fire({
							icon: 'error',
							html: '탈퇴한 계정의 이메일은 다시 사용할 수 없습니다.<br>관리자에게 문의해주세요.',
							confirmButtonText: '확인'
						});
						email.focus();
						break;
						
					case 'PASSWORD_NOT_MATCH':
						Swal.fire({
							icon: 'error',
							text: '비밀번호를 확인해주세요.',
							confirmButtonText: '확인'
						});
						password.value = '';
						password.focus();
						break;
						
					case 'SOCIAL_MEMBER_DENY':
						Swal.fire({
							icon: 'error',
							text: 'SNS 계정으로 접속해주세요.',
							confirmButtonText: '확인'
						});
						password.value = '';
						password.focus();
						break;
						
					default:
						Swal.fire({
							icon: 'error',
							text: '시스템 장애로 인해 로그인에 실패했습니다.',
							confirmButtonText: '확인'
						});
						break;
				}
			}).catch((error) => {
				console.log('error: ' + error);
			});
		}
		
		//입력란에서 엔터 키를 누르면 로그인 실행
		const pressEnter = () => {
			if (event.keyCode == 13) {
				if (Swal.isVisible()) Swal.close();
				else checkLogin();
			}
		}
		
		//SNS 로그인
		const snsLogin = (type) => {
			document.location = '/oauth2/authorization/' + type;
		}
	</script>
</body>
</html>
