@charset "UTF-8";
/* import local scss Files */
@import "reset.css";
@import "fonts.css";

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
}
body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
}
/* toolkit */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.mt20 { margin-top: 20px !important;}

/* ********* challenge : 코딩테스트 부분 **********/
.challenge-navbar .navbar-breadcrumb { 
  width: 100%;
  height: 50px;
  margin: 0;
  padding-left: 10px;
  background: #000;
  display: flex;
  gap: 10px;
  align-items: center;
}
.challenge-navbar .navbar-breadcrumb .active {
  font-weight: bold;
}
.challenge-navbar .navbar-breadcrumb li.active::after {
  content: "";
}
.challenge-navbar .navbar-breadcrumb li {
  color: #fff;
}
.challenge-navbar .navbar-breadcrumb li::marker {
  content: "";
}
.challenge-navbar .navbar-breadcrumb li::after {
  margin-left: 10px;
  content: ">";
}
.wrap .challenge-content .challenge-nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #737373;
  align-items: center;
}
.challenge-nav .nav-item {}
.challenge-nav .nav-item i.xi-bookmark-o,
.challenge-nav .nav-item i.xi-bookmark { 
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.challenge-nav .nav-item i.xi-bookmark-o::before,
.challenge-nav .nav-item i.xi-bookmark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
} 
.challenge-nav .nav-item .challenge-title {
  margin-left: 10px;
  font-weight: 500;
}
.challenge-nav .nav-item .dropdown-language .dropdown-menu .dropdown-item {
  display: inline-block;
  border: 1px solid #737373;
  background: #fff;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}
.challenge-nav .nav-item .dropdown-language .dropdown-menu .dropdown-item:hover {
  background: #d0e1ff;
  color: #44576c;
  transition: .4s all;
}
/* challenge-content : background-color-validation */
.wrap .challenge-content .challenge-content-list {
  min-height: 45rem;
  padding: 10px 20px;
  display: flex;
  background-color: #263747;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question {
  max-width: 40%;
  border-right: 1px dashed #fff;
  padding-right: 20px;
}
.wrap .challenge-content .challenge-content-list .challenge-content-run {
  min-width: 60%;
  padding-left: 20px;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-run .guide-section-title {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #fff;
}
.wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section code {
  background-color: #202B3D;
  color: #CDD7E0;
  padding: 2px 5px;
  border: 1px solid #172334;
  margin: 0 2px;
  border-radius: .3rem;
}
/* challenge-content : font-color-validation */
.wrap .challenge-content .challenge-content-list .challenge-content-question .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-run .guide-section-title
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section
, .wrap .challenge-content .challenge-content-list .challenge-content-question .challenge-content-question-section p
, .wrap .challenge-content .challenge-content-list .challenge-content-run p 
, .wrap .challenge-content .challenge-content-list .challenge-content-run .resultArea
{
  color: #fff;
}

.challenge-content-run .editor textarea {
  width: inherit;
  height: inherit;
  resize: none;
  outline: none;
  border: none;
  background: inherit;
  color: #fff;
}
/* bottom-list */
.wrap .challenge-content .bottom-list {
  padding: 20px;
  background: white;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.wrap .challenge-content .bottom-list .testcase-button
, .wrap .challenge-content .bottom-list .func-buttons .btn_check 
, .wrap .challenge-content .bottom-list .func-buttons .btn_forward 
, .wrap .challenge-content .bottom-list .func-buttons .btn_login 
{
  background: #263747;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .challenge-content .bottom-list .testcase-button:hover
, .wrap .challenge-content .bottom-list .func-buttons .btn_check:hover 
, .wrap .challenge-content .bottom-list .func-buttons .btn_forward:hover 
, .wrap .challenge-content .bottom-list .func-buttons .btn_login:hover 
 {
  border-color: #37485D;
  background-color: #37485D;
  color: white;
  transition: .4s all;
}

/************************ main *************************/
.main-navbar {
  /* min-width: 1280px; */
  display: flex;
  gap: 20px;
}
.main-navbar .main-navbar-list { 
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.main-navbar .main-navbar-list .main-list-item {
  padding-left: 10px;
  background: #fff;
  gap: 10px;
  align-items: center;
  display: flex;
  }
.main-navbar .main-navbar-list .main-list-item .active {
  font-weight: bold;
}
.main-navbar .main-navbar-list .main-list-item li.active::after {
  content: "";
}
.main-navbar .main-navbar-list .main-list-item li {
  color: #000;
}
.main-navbar .main-navbar-list .main-list-item li::marker {
  content: "";
}
.main-navbar .main-navbar-list .main-list-item li::after {
  margin-left: 10px;
}
.main-navbar .main-navbar-list .member-group {
  display: flex;
}
.main-navbar .main-navbar-list .member-group .main-list-item{
  /* margin-left: auto; */
  
} 

/* 활성화된 버튼의 스타일 */
.btn-language.active {
  background-color: #4c7faf !important; /* 활성화 시 초록색 배경 */
  color: black; /* 활성화 시 글자 색상 */
  border: none; /* 테두리 제거 */
}