<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>비밀번호 변경&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 -->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="/include/header"></div>
	<div class="container column bgcontain-mypage">
		<div class="column-row myPage">
			<div class="c-column-2">
				<div id="mypage_manu" th:replace="/include/mypage"></div>
			</div>
			<div class="c-column-8">
				<div class="mypage_content">

					<h5>비밀번호 변경</h5>
					<div class="mypage_box">
						<form id="editForm" name="editForm" method="post">
							<div class="mypage_profile">
								<div class="join-oldPassword-form">
									<label for="oldPassword">기존 비밀번호</label>
									<input type="password" id="oldPassword" name="oldPassword" placeholder="********">
								</div>
								<div class="join-password-form">
									<label for="password">신규 비밀번호</label>
									<input type="password" id="password" name="password" placeholder="********" oninput="checkPassword()">
								</div>
								<div class="join-password-info">
									<p id="passwordMsg1">영문/숫자/특수문자 중, 2가지 이상 포함</p>
									<p id="passwordMsg2">8자 이상 32자 이하 입력 (공백 제외)</p>
									<p id="passwordMsg3">연속 3자 이상 동일한 문자/숫자 제외</p>
								</div>
								<div class="join-password-form">
									<label for="passwordCheck">비밀번호 확인</label>
									<input type="password" id="passwordCheck" name="passwordCheck" placeholder="********" oninput="checkPasswordCheck()">
									<p id="passwordCheckMsg" class="bad"></p>
								</div>
							</div>
							<div class="profile_btn_grup">
								<input type="button" value="변경" onclick="editPassword()">
								<input type="button" value="취소" onclick="javascript:history.back()">
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- footer영역 -->
	<div id="footer" th:replace="/include/footer"></div>
	
	<!-- Custom CSS -->
	<style type="text/css">
		p.bad {
			color: #f00;
		}
		
		p.good {
			color: #0a0;
		}
	
		input.bad, input.bad:focus {
			color: #f00;
			border: 1px solid #f00;
		}
	</style>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		var passwordOk = 'N'; //비밀번호 검증여부
		var passwordCheckOk = 'N'; //비밀번호 확인 검증여부
		
		//비밀번호 변경
		const editPassword = async () => {
			//신규 비밀번호 유효성 검증
			if (passwordOk == 'N') {
				checkPassword();
				password.focus();
				return false;
			}
			
			//신규 비밀번호 확인 유효성 검증
			if (passwordCheckOk == 'N') {
				checkPasswordCheck();
				passwordCheck.focus();
				return false;
			}
			
			let formData = new FormData(editForm);

			await fetch('/member/mypage/editPassword', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message == 'good') {
					alert('비밀번호가 변경되었습니다.');
					document.location.href = '/member/mypage/main';
				} else if (data.message == 'PASSWORD_NOT_MATCH') {
					alert('기존 비밀번호가 일치하지 않습니다.\n비밀번호를 다시 확인해주세요.');
					oldPassword.value = '';
					oldPassword.focus();
				} else if (data.message == 'SAME_PASSWORD_DENY') {
					alert('기존 비밀번호와 동일한 비밀번호는 사용할 수 없습니다.\n비밀번호를 다시 입력해주세요.');
					password.value = '';
					passwordCheck.value = '';
					password.focus();
				} else {
					alert('시스템 장애로 인해 비밀번호 변경에 실패했습니다.');
				}
			});
		}

		//비밀번호 검증
		const checkPassword = () => {
			let check1 = true; //영문, 숫자, 특수문자 중 2가지 이상 포함여부 검증
			let check2 = true; //길이(8~32자), 공백 포함여부 검증
			let check3 = true; //연속 3자 이상 동일한 문자/숫자 포함여부 검증

			//메시지 초기화
			passwordMsg1.classList.remove('good');
			passwordMsg1.classList.remove('bad');
			passwordMsg2.classList.remove('good');
			passwordMsg2.classList.remove('bad');
			passwordMsg3.classList.remove('good');
			passwordMsg3.classList.remove('bad');
			
			if (password.value == '') {
				passwordOk = 'N';
				return false;
			}
				
			//정규식(영문, 숫자, 특수문자)
			const engRegex = /[a-z]/ig; //i: 대소문자 구분 없이
			const numRegex = /[0-9]/g;
			const speRegex = /[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi;
			const sameRegex = /([A-Za-z0-9`~!@#\$%\^&\*\(\)\{\}\[\]\-_=\+\\|;:'"<>,\./\?])\1{2,}/g;
			
			const engOk = (engRegex.test(password.value)) ? 1 : 0;
			const numOk = (numRegex.test(password.value)) ? 1 : 0;
			const speOk = (speRegex.test(password.value)) ? 1 : 0;
			
			//영문, 숫자, 특수문자 중 2가지 이상 포함여부 검증
			if (numOk + engOk + speOk < 2) {
				check1 = false;
				passwordMsg1.classList.add('bad');
			} else
				passwordMsg1.classList.add('good');
			
			//길이(8~32자), 공백 포함여부 검증
			if (password.value.length < 8 || password.value.length > 32 || password.value.search(/\s/) != -1) {
				check2 = false;
				passwordMsg2.classList.add('bad');
			} else
				passwordMsg2.classList.add('good');
			
			//동일 문자 연속 3자 이상 포함여부 검증
			if (sameRegex.test(password.value)) {
				check3 = false;
				passwordMsg3.classList.add('bad');
			} else
				passwordMsg3.classList.add('good');
			
			//모든 조건이 충족될 경우
			if (check1 && check2 && check3)
				passwordOk = 'Y';
		}
		
		//비밀번호 확인 검증
		const checkPasswordCheck = () => {
			if (password.value == passwordCheck.value) {
				passwordCheckOk = 'Y';
				passwordCheck.classList.remove('bad');
				passwordCheckMsg.innerText = '';
			} else {
				passwordCheckOk = 'N';
				passwordCheck.classList.add('bad');
				passwordCheckMsg.innerText = '비밀번호가 일치하지 않습니다.';
			}
		}
	</script>
</body>
</html>
