<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>내 정보 수정&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<!-- 게시판 복사용 게시판 -->
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ /include/header }"></div>
	<div class="container column bgcontain-mypage">
		<div class="column-row myPage">
			<div class="c-column-2">
				<div id="mypage_manu" th:replace="~{ /include/mypage }"></div>
			</div>
			<div class="c-column-8">
				<div class="mypage_content">

					<h5>내 정보 수정</h5>
					<div class="mypage_box">
						<form id="modifyForm" name="modifyForm" method="post">
							<input type="file" name="fileUpload" id="imageFile" style="display: none;">
							<input type="hidden" name="orgImg" th:value="${ member.orgImg }">
							<input type="hidden" name="storedImg" th:value="${ member.storedImg }">
							<input type="hidden" name="imgSize" th:value="${ member.imgSize }">
							<div class="mypage_profile">
								<div class="profile_img" id="profileImg">
									<th:block th:if="${ member.imgSize != null && member.imgSize > 0 }">
									<img th:src="@{ '/member/img/' + ${ member.email } }">
									</th:block>
									<th:block th:if="${ member.imgSize == null || member.imgSize == 0 }">
									<img src="/img/test-profile/coolping.png">
									</th:block>
								</div>
								<div class="join-email-form">
									<label for="email">이메일<span class="asterisk"></span></label>
									<input type="text" id="email" placeholder="example@kodinghaejo.com" th:value="${ member.email }" disabled>
									<input type="hidden" name="email" th:value="${ member.email }">
									<p id="emailMsg"></p>
								</div>
								<div class="join-username-form">
									<label for="username">이름<span class="asterisk"></span></label>
									<input type="text" id="username" placeholder="홍길동" th:value="${ member.username }" disabled>
									<input type="hidden" name="username" th:value="${ member.username }">
								</div>
								<div class="join-nickname-form">
									<label for="nickname">닉네임</label>
									<input type="text" id="nickname" name="nickname" placeholder="홍길동" th:value="${ member.nickname }">
								</div>
								<div class="join-tel-form">
									<label for="tel">전화번호<span class="asterisk"></span></label>
									<input type="text" id="tel" name="tel" maxlength="13" placeholder="010-1234-5678" th:value="${ member.tel }" oninput="checkTel()">
									<p id="telMsg" class="bad"></p>
								</div>
								<div class="join-website-form">
									<label for="website">블로그/웹사이트</label>
									<input type="text" id="website" name="website" placeholder="https://website.com" th:value="${ member.website }" oninput="checkWebsite()">
									<p id="websiteMsg" class="bad"></p>
								</div>
								<div class="join-descr-form">
									<label for="descr" style="display: block; text-align: left; margin-bottom: 10px;">자기소개</label>
									<textarea id="descr" name="descr" cols="50" rows="5" placeholder="간단한 자기소개글을 입력해주세요">[[ ${ member.descr } ]]</textarea>
								</div>
							</div>
							<div class="profile_btn_grup">
								<input type="button" value="수정하기" onclick="modifyInfo()">
								<input type="button" value="취소" onclick="javascript:history.back()">
							</div>
							<input type="hidden" name="kind" value="U">
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- footer영역 -->
	<div id="footer" th:replace="~{ /include/footer }"></div>
	
	<!-- Custom CSS -->
	<style type="text/css">
		p.bad {
			color: #f00;
		}
		
		p.good {
			color: #0a0;
		}
	
		input.bad, input.bad:focus {
			color: #f00;
			border: 1px solid #f00;
		}
	</style>
	
	<!-- Custom Script -->
	<script type="text/javascript">
		var telOk = 'Y'; //전화번호 확인 검증여부
		var websiteOk = 'Y'; //웹사이트 확인 검증여부
		var profileImg = document.querySelector('#profileImg');
		var fileEvent = document.querySelector('#imageFile');
		
		//profileImg 영역 클릭 시 파일이벤트 처리
		profileImg.addEventListener('click', (e) => {
			fileEvent.click(e);
		});
		
		fileEvent.addEventListener('change', (e) => {
			profileImg.innerHTML = '';
			const imgFile = e.target.files[0];
			
			if (imgFile.type.indexOf('image') == -1) {
				Swal.fire({
					icon: 'warning',
					text: '이미지 파일만 업로드 해주세요.',
					confirmButtonText: '확인'
				});
				return false;
			}
			
			const reader = new FileReader();
			reader.onload = (event) => {
				profileImg.innerHTML = '<img src="' + event.target.result + '">';
				console.log(event.target.result);
			}
			
			reader.readAsDataURL(imgFile);
		});

		//내 정보 수정
		const modifyInfo = async () => {
			//========== 입력값 유효성 검증 시작 ==========
			//전화번호
			if (telOk == 'N') {
				checkTel();
				tel.focus();
				return false;
			}
			
			//웹사이트
			if (websiteOk == 'N') {
				checkWebsite();
				website.focus();
				return false;
			}
			//========== 입력값 유효성 검증 종료 ==========
			
			let formData = new FormData(modifyForm);

			await fetch('/member/join', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message == 'good') {
					Swal.fire({
						icon: 'success',
						text: decodeURIComponent(data.username) + '님의 정보가 수정되었습니다.',
						confirmButtonText: '확인'
					})
					.then((result) => {
						document.location.href = '/member/mypage/main';
					});
				} else {
					Swal.fire({
						icon: 'error',
						text: '시스템 장애로 인해 정보 수정에 실패했습니다.',
						confirmButtonText: '확인'
					});
				}
			});
		}
		
		//전화번호 --> 하이픈 자동 추가 & 유효성 검증
		const checkTel = () => {
			const changeTel = tel.value
								.replace(/[^0-9]/g, "") //숫자 제외한 문자 제거
								.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`); // 숫자 $1(2, 3)-$2(3, 4)-$3(4) 자리로 치환
			
			tel.value = changeTel;
	
			//유효성 검증
			if (changeTel.length >= 11) {
				telOk = 'Y';
				tel.classList.remove('bad');
				telMsg.innerText = '';
			} else {
				telOk = 'N';
				tel.classList.add('bad');
				telMsg.innerText = (tel.value == '') ? '전화번호를 입력해주세요.' : '유효하지 않은 전화번호입니다.';
			}
		}
		
		//웹사이트 유효성 검증
		const checkWebsite = () => {
			//정규식으로 웹사이트 유효성 검증
			const websiteRegex = /^https?\:\/\/[\w\-\.]+[a-z]$\/;

			if (website.value == '' || websiteRegex.test(website.value)) {
				websiteOk = 'Y';
				website.classList.remove('bad');
				websiteMsg.innerText = '';
			} else {
				websiteOk = 'N';
				website.classList.add('bad');
				websiteMsg.innerText = '유효하지 않은 주소입니다.';
			}
		}
	</script>
</body>
</html>
