<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
</head>
<body>
	<!-- header 영역 -->
	
	<div id="header" th:replace="~{ include/header }"></div>
	<!-- pop-banner-zone영역 : 헤더 밑에 붙여 주세요-->
	<div class="pop-banner" id="pop_banner" th:replace="~{ include/popBanner }"></div>

	<div class="container">
		<!-- main-banner -->
		<div class="main-banner">
			<div class="main-banner-item">
				<div class="main-banner-text">
					<p>코딩테스트</p>
					<p><strong>KODINGHAEJO</strong> 하나로 해결하세요.</p>
				</div>
				<div class="banner-img">
					<img src="/img/main_banner.PNG" alt="">
				</div>
			</div>
		</div>

		<!-- main-content -->
		<div class="main-content">
			<div class="content-box">
				<div class="box-item">
					<div class="item-quick">
						<h3>Quick menu</h3>
						<div class="quick-box">
							<a href="/test/popularTest" class="quick-box-list">
								<i class="xi-trophy"></i>
								<p>인기 문제</p>
							</a>
							<a href="/test/newTest" class="quick-box-list">
								<i class="xi-emoticon-cool-o"></i>
								<p>신규 문제</p>
							</a>
							<a href="/test/randomTest" class="quick-box-list">
								<i class="xi-line-style"></i>
								<p>랜덤 문제</p>
							</a>
						</div>
					</div>
				</div>	
			</div>

			<div class="content-box">
				<div class="box-item">
					<div class="item-card">
						<h3>난이도별 문제 <a href="/test/collect" class="more-link">더 보기</a></h3>
						<div class="card-ui-box">
							<div th:each="diffProblem : ${diffProblems}" class="card-ui-list" th:onclick="'location.href=\'/test/challenge?idx=' + ${diffProblem.idx} + '\''">
								<img src="/img/card-test.jpg" alt="">
								<p class="card-ui-box-title" th:text="${diffProblem.title}">작은문제 하나둘셋</p>
								<div class="bage-group">
									<!-- 샘플 tag -->
									<span class="card-small-red-tag" th:each="lang : ${diffProblem.testLngList}" th:text="${lang.lng == 'LNG-0001' ? 'JAVA' : (lang.lng == 'LNG-0002' ? 'javascript' : 'Unknown')}"></span>
								</div>
								<hr>
								<p class="card-ui-box-rank">난이도 <b th:text="'Lv. ' + ${diffProblem.diff}">{1레벨}</b></b></p>
							</div>
							<!-- 카드 UI 총 수량 3개 까지만 허용 -->
							<!-- item : card-ui-list -->
						</div>
					</div>
				</div>
			</div>

			<div class="content-box pb60">
				<div class="box-item">
					<div class="item-middle-card">
						<h3>이용자 랭킹 순위 <a href="/rank/rank" class="more-link">더 보기</a></h3>
						<div class="item-middle-ui-card-box">
							<div class="card-middle-ui-list" th:each="member, stat : ${members}" th:if="${stat.index < 3}">
								<!-- 241126-프로필 이미지 프레임 추가 : .rank-silver, .rank-gold, .rank-bronse -->
								<div th:class="${ (stat.index == 0) ? 'rank-gold' : (stat.index == 1) ? 'rank-silver' : 'rank-bronze' }">
									<div class="profile-img">
										<img th:src="@{ '/member/img/' + ${ member.email } }" alt="profile" style="position: relative; left: 25px; top: 24px; z-index: -1;">
									</div>
								</div>
								<div class="card-item">
									<div class="card-profile">
										<p class="profile-name" th:text="${member.nickname}">회원 아무개씨</p>
										<p class="profile-rank" th:text="${member.grade}">플래티넘</p>
									</div>
									<div class="card-rank-area">
										<!-- <span>많이 푼 언어<b>{java}</b></span> -->
										<span>정답율 <b th:text="${#numbers.formatDecimal(member.correctRate,1,1)} + ' ' + '%' ">{0%}</b></span>
									</div>
								</div>
							</div>
							<!-- 카드 UI 총 수량 3개 까지만 허용 -->
							<!-- card-middle-ui-list -->
						</div>
					</div>
				</div>
			</div>

		</div>
	
	</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="~{ include/footer }"></div>
</body>
<!-- 커피챗 한잔해 : 메인에 만 -->
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="pongpongs" data-description="Support me on Buy me a coffee!" data-message="저희의 프로젝트를 지속할 수 있도록 연구비를 지원해주세요!" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

<script>
	window.onload = function() {
		if (getCookie("hideBanner") == null) {
			document.querySelector('.sub-banner-img').style.display = 'block';
			document.querySelector('.pop-info').style.display = 'flex';
		} else {
			document.querySelector('.sub-banner-img').style.display = 'none';
			document.querySelector('.pop-info').style.display = 'none';
		}
	};
</script>
</html>