<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시물 작성&nbsp;&#124;&nbsp;코딩해조</title>
	<!-- Standard css -->
	<link rel="icon" href="/img/logo/favicon.png">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<!-- pub-js link -->
	<script src="/js/pub-ui-custom.js"></script>
	<!-- common-js link -->
	<script src="/js/common.js"></script>
	<script type="text/javascript" th:inline="javascript">
		var commonCode = /*[[ ${ commonCode } ]]*/'공통코드';
	</script>
</head>
<body>
	<!-- header 영역 -->
	<div id="header" th:replace="~{ /include/header }"></div>
	<!-- 이메일 미인증 시 인증 유도 -->
	<script>
		if ('[[ ${ session.emailAuth } ]]' != 'Y') {
			Swal.fire({
				icon: 'error',
				html: '이메일 인증이 필요합니다.<br>MyPage로 이동하시겠습니까?',
				showCancelButton: true,
				confirmButtonText: '네, 이동합니다.',
				cancelButtonText: '아니오.'
			})
			.then((result) => {
				if (result.isConfirmed)
					location.href = '/member/mypage/main';
				else
					history.back();
			});
		}
	</script>
	<div class="container">
		<div class="main-content">
			<div class="content-board-notice-write">
				<div class="content-board-notice-write-wrap">
					<h2>자유롭게 글을 작성해 보세요</h2>
					<div class="mt30"></div>
					<div class="category-menu">
						<label for="cat">카테고리<span class="asterisk"></span></label>
						<select name="cat" id="cat">
							<option value="" selected disabled>카테고리를 선택해주세요</option>
						</select>
					</div>
					<div class="category-title">
						<label for="title">제목<span class="asterisk"></span></label>
						<input type="text" id="title" name="title" placeholder="제목을 입력해주세요" maxlength="100">
					</div>
					<div class="category-content">
						<label for="content">내용<span class="asterisk"></span></label>
						<div id="content"></div>
					</div>
					
					<div class="category-footer mt30">
						<input type="button" value="전송" onclick="writeBoard()">
						<button onclick="location.href='/board/freeboard'">뒤로가기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer영역 -->
	<div id="footer" th:replace="/include/footer"></div>
	
	<!-- toast API : 나중에 모듈로 작성해서 만들기-->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

	<!-- Custom Script -->
	<script type="text/javascript">
		//카테고리 셀렉트박스 옵션추가
		const cat = document.querySelector('#cat');
		setSelectOption(commonCode, cat, 'cat', '');
		
		//Toast UI 에디터
		const editor = new toastui.Editor({
			el: document.querySelector('#content'), // 에디터를 적용할 요소 (컨테이너)
			height: '400px',												// 에디터 영역의 높이 값 (OOOpx || auto)
			initialEditType: 'markdown',						// 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
			placeholder: '내용을 입력해주세요.',		// 플레이스홀더
			previewStyle: 'vertical',								//마크다운 프리뷰 스타일 (tab || vertical)
			toolbarItems: [
				// 기본 툴바 항목에서 'image' 항목을 제외하고 나열합니다.
				[ 'heading', 'bold', 'italic', 'strike' ],
				[ 'hr', 'quote' ],
				[ 'ul', 'ol', 'task' ],
				[ 'table', 'link' ],
				// 'image' 항목을 제거했습니다.
				[ 'code', 'codeblock' ]
			]
		});
		
		const writeBoard = async() => {
			let title = document.querySelector('#title');
		
			// Toast UI Editor의 content 내용 가져오기
			let content = editor.getMarkdown(); // 마크다운 텍스트로 가져오기
				
			//필수값 등록시 값 입력 여부 확인
			if (title.value == ''){
				Swal.fire({
					icon: 'warning',
					text: '제목을 입력해주세요.',
					confirmButtonText: '확인'
				});
				title.focus();
				return false;
			}

			if (cat.value == ''){
				Swal.fire({
					icon: 'warning',
					text: '카테고리를 선택해주세요.',
					confirmButtonText: '확인'
				});
				cat.focus();
				return false;
			}
			
			if (content.trim() == '') {
				Swal.fire({
					icon: 'warning',
					text: '내용을 입력해주세요',
					confirmButtonText: '확인'
				});
				return false;
			}
				
			let formData = new FormData();
			formData.append('cat', cat.value); // 선택된 카테고리 값을 FormData에 추가
			formData.append('title', title.value);
			formData.append('content', escapeHtml(content)); // Toast UI Editor의 내용을 FormData에 추가
				
			await fetch('/board/m/write', {
				method: 'POST',
				body: formData
			})
			.then((response) => response.json())
			.then((data) => {
				if (data.message === 'good') {
					Swal.fire({
						title: "게시물이 작성되었습니다.",
						icon:"success",
						confirmButtonText: "확인" //확인 눌러야 로케이션 되는
					})
					.then((result) => {
						document.location.href = '/board/freeboardView?idx=' + data.idx;
					})
				} else {
					Swal.fire({
						icon: 'error',
						text: '시스템 장애로 인해 게시물 등록에 실패했습니다.',
						confirmButtonText: '확인'
					});
				}
			})
			.catch((error) => {
				Swal.fire({
					icon: 'error',
					text: '시스템 장애로 인해 게시물 등록에 실패했습니다.',
					confirmButtonText: '확인'
				});
				console.log('error: ' + error);
			})
		}
	</script>

</body>
</html>